[2017-05-27 20:31] aminecmi opened #1 "Caching articles"
- Settings to choose the amount of cache to use.
- Decide what to cache (unread only ? Saved ? Read (not sure if it's necessary) ?

[2017-05-27 20:32] aminecmi opened #2 "Firebase indexation for android search"
Add the firebase indexation so the user can search for articles from inside Google Search

[2017-05-27 20:34] aminecmi opened #3 "Release app on F-Droid"
asked by @klundry on the old repository

[2017-05-27 20:35] aminecmi opened #4 "Change the custom tab color back to primary when it's possible to customize the title color."

[2017-05-27 20:35] aminecmi opened #5 "Add filters sources and tags filtering"

[2017-05-27 20:36] aminecmi opened #6 "List position changes on resume"

[2017-05-27 20:39] aminecmi opened #7 "Prevent some sources to be open in the article viewer AND the custom tab."

[2017-05-27 20:40] aminecmi opened #8 "Missing article in internal viewer"
Tested by @murlock with 1.4.0.8-store

Missing or partial article
rpgwatch.com [Example](https://www.rpgwatch.com/show/newsbit?rwsiteid=1&newsbit=37685)
phoronix.com (not all article) [Example](http://www.phoronix.com/scan.php?page=news_item&px=FreeBSD-Q1-2017-Status&utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Phoronix+%28Phoronix%29)
rpgfrance.com [Example](http://www.rpgfrance.com

[2017-05-27 20:42] aminecmi opened #9 "Add share option in Internal viewer"
Requested by @murlock

[2017-05-28 16:24] aminecmi opened #10 "Enable apk minification"
Solve the issue caused by the minification when testing.

The tests must pass after the minification.

[2017-05-29 14:36] aminecmi opened #11 "Use some CI tool"
Now that the app is open source, it will be easier to use some free CI tool.

[2017-05-29 14:39] aminecmi commented on #11
Travis CI ?
Circle CI ?

[2017-05-29 18:58] aminecmi opened #12 "TESTS"

[2017-05-29 20:54] aminecmi commented on #11
https://gist.github.com/donnfelker/40ccd35ab678e7aa7bdc600329829b9e

[2017-05-30 07:34] aminecmi commented on #11
move mercury api key to gradle.properties

https://stackoverflow.com/a/35485546

[2017-05-30 18:59] #11 closed

[2017-06-03 20:54] aminecmi commented on #8
"Fixed" in 041a225

If the content is empty, it'll open directly in the custom tab, else I added a button to share the link or open it in the default browser.

[2017-06-03 20:54] #8 closed

[2017-06-04 07:41] aminecmi commented on #9
Done in 041a225

[2017-06-04 07:41] #9 closed

[2017-06-04 16:31] aminecmi commented on #5
Available in [v1.5.0.4](https://github.com/aminecmi/ReaderforSelfoss/tree/v1.5.0.4).

[2017-06-04 16:31] #5 closed

[2017-06-04 16:53] aminecmi opened #14 "Hide bottom bar when the drawer is open."
![example](http://i.imgur.com/EGMTxRE.png)

[2017-06-04 16:55] aminecmi opened #15 "Drawer sticky footer is added at each onresume"
![](http://i.imgur.com/fieUa1K.png)

[2017-06-04 18:27] #14 closed

[2017-06-04 18:27] #15 closed

[2017-06-04 19:09] aminecmi opened #16 "Disable "selected" state for primary drawer items."
![](http://i.imgur.com/ZeW25m9.png)

[2017-06-04 19:10] aminecmi opened #17 "Getting back from settings has the drawer open and the bottom bar showing."
![](http://i.imgur.com/35L6gLl.png)

[2017-06-05 06:33] aminecmi opened #18 "Searching"

[2017-06-05 06:34] aminecmi opened #19 "Remove the last divider of the drawer"

[2017-06-05 16:50] #19 closed

[2017-06-05 17:50] aminecmi commented on #17
Still happening in .6

[2017-06-05 17:51] aminecmi commented on #16
Still here for
![](http://i.imgur.com/Cijyluh.png)

[2017-06-05 19:18] #16 closed

[2017-06-05 19:18] #17 closed

[2017-06-05 20:18] aminecmi opened #20 "Swap primary and secondary drawer items."

[2017-06-05 20:20] aminecmi opened #21 "Add source image to the drawer"

[2017-06-05 20:23] aminecmi opened #22 "Drawer badges (unread count)"
- add back to the model
- handle updating on API call
- updating

[2017-06-06 18:04] #22 closed

[2017-06-06 18:04] #21 closed

[2017-06-06 18:05] #20 closed

[2017-06-07 06:59] #6 closed

[2017-06-07 07:00] aminecmi commented on #18
Fixed in 4565079f29a918a71b13fab39ff97f6e13bb1f0d

[2017-06-07 07:00] #18 closed

[2017-06-08 04:33] aminecmi opened #23 "IllegalArgumentException when adding a source with an invalid url"

[2017-06-08 11:07] aminecmi opened #24 "Reload sources badges after reading an article"

[2017-06-08 18:42] aminecmi commented on #24
Fixed in a different way.

When sliding to refresh, the badge will be refreshed. It's simpler to do that than call the tags route each time.

Maybe try to find a better solution later ?

[2017-06-08 19:35] #24 closed

[2017-06-08 19:35] #23 closed

[2017-06-09 09:46] aminecmi opened #25 "Using late initialized properties and cleaning the kotlin code."

[2017-06-12 18:20] #12 closed

[2017-06-12 18:21] #25 closed

[2017-06-13 15:04] aminecmi opened #27 "No Activity found to handle Intent URL"
Fatal Exception: android.content.ActivityNotFoundException
No Activity found to handle Intent { act=android.intent.action.VIEW dat=//WEBSITE.TOTO/PAGE.html flg=0x10000000 }

Maybe check for the "http" or "https" in the link ?

[2017-06-13 19:38] #27 closed

[2017-06-14 10:45] aminecmi opened #28 "Can't pull down to refresh on first launch"

[2017-06-15 04:38] aminecmi opened #29 "Create an adaptive icon"
[link](https://developer.android.com/preview/features/adaptive-icons.html)

[2017-06-18 15:24] aminecmi commented on #29
The "newspaper" shape of the icon gives some kind of meaning to the app. With an adaptive icon, we'll loose this meaning.

[2017-06-20 12:37] aminecmi opened #30 "Display the pull to refresh loader when loading data (and changing tabs)"
Has to be with #28

[2017-06-23 10:30] aminecmi commented on #28
That's because the ```SwipeRefreshLayout``` contains only the ```RecyclerView``` that is empty.

The issue can be solved by:
- having [multiple view types inside the view holder](https://stackoverflow.com/a/26245463), and have an "Empty view" one added when no item/article is fetched
- Check if [this](https://stackoverflow.com/a/42054793) solves it.
- Or something else.

[2017-06-27 05:51] aminecmi opened #31 "Wrong toolbar color on article viewer. (And invite activity, but not sure if it's fixable)"
![](http://i.imgur.com/vUhyBbn.png)

[2017-06-28 17:40] aminecmi opened #32 "UI/Theme customization"

[2017-06-29 07:39] aminecmi opened #33 "Sync/auto update articles"
- Settings to enable/disable, choose an interval
- Handle the syncing
- Cache articles #1

[2017-06-29 17:18] aminecmi opened #34 "Illegal URL on retrofit2.Retrofit$Builder.baseUrl"
This occurs a LOT, and can't figure out what the problem is.

The solution may be to disconnect the user when this happen and display some kind of message.

[2017-06-29 17:22] aminecmi opened #35 "Htmltextview throws IndexOutOfBoundsException on complicated HTML"
[See the issue here](https://github.com/SufficientlySecure/html-textview/issues/110)

If the issue happen, open in the custom tab ?

[2017-07-01 17:17] aminecmi opened #36 "Instead of libraries (bottombar and FAB), use provided support versions."
### Description

Some "design" elements could/should be replaced by the support version.

This may help for #32 as the elements would use the default colors/attrs and would be easily themed/customized.

[2017-07-01 17:17] aminecmi commented on #32
Tried something at 778d6c9
The color picker is great, but I couldn't fine the best library for dynamic theme handling,
 [this was great but it doesn't support custom colors](https://github.com/garretyoder/Colorful), [this one only supported predefined themes](https://github.com/52inc/Scoops), and this one (that I ended up using) [only changes the theme of `AppCompatActivity`s, so the preference ac

[2017-07-02 05:14] #34 closed

[2017-07-02 05:19] #35 closed

[2017-07-02 14:45] aminecmi opened #37 "Predefined themes"
### Description

This is a simpler version of #32 with predefined themes. I'll add predefined themes before finishing #32

[2017-07-02 15:56] aminecmi commented on #37
This still needs #36 ...

[2017-07-02 17:40] aminecmi opened #38 "Better network handling"
### Description

On slow networks, the app doesn't work well. (No network should be handled with #1 )

- Disable any network activity if the phone is offline.
- Find some way to enhance the retrofit calls on slow networks

[2017-07-02 17:43] #28 closed

[2017-07-02 17:43] #30 closed

[2017-07-02 19:49] aminecmi opened #39 "Recycler view issue"
This is because of the textview added for the "can't pull to refresh" issue

![](http://i.imgur.com/u3EpcMj.png)

[2017-07-02 19:51] aminecmi commented on #39
It would be great to change the background to the greyish one of the recycler view

![](http://i.imgur.com/oznDnU5.png)

[2017-07-03 17:28] #39 closed

[2017-07-06 16:37] aminecmi opened #40 "Handle filters"

[2017-07-07 14:52] aminecmi opened #41 "Instead of being specifically for Selfoss, maybe open it to other platforms (feedly ...)"

[2017-07-07 14:53] aminecmi opened #42 "Website ?"

[2017-07-07 17:19] aminecmi opened #43 "Material animations"

[2017-07-09 17:04] #36 closed

[2017-07-09 17:09] #31 closed

[2017-07-09 17:31] #37 closed

[2017-07-09 18:01] aminecmi opened #45 "Dynamic popup menu theme"
Switch between light and dark according to theme

[2017-07-10 17:55] aminecmi opened #46 "Add back the badges"
As it was fixed in the library.

[2017-07-10 20:28] #46 closed

[2017-07-11 07:53] aminecmi opened #47 "Better handling for link opening"
In the article reader, if the articles isn't parsed or if the html isn't parsed, we try to open the link in a custom tab (by default) and that seams to cause some issues.

We should fix this, and test it  thoroughly.

[2017-07-14 07:29] #47 closed

[2017-07-14 07:54] #42 closed

[2017-07-15 20:01] aminecmi opened #50 "Swyping left/right to change article"

[2017-07-15 20:03] aminecmi commented on #50
From the play store

`Would love to see the addition of left and right swiping between articles.`

[2017-07-18 09:56] aminecmi opened #51 "Using the cancel button of the snack bar unhide the article, but it isn't displayed."

[2017-07-22 11:12] #51 closed

[2017-07-25 20:04] aminecmi commented on #29
As the app uses targetSdk 26, the icon is inside a white round. This should be fixed with a new adaptive icon.

[2017-07-27 21:00] aminecmi opened #54 "Jenkins Build doesn't have the right icon."

[2017-07-28 05:33] #54 closed

[2017-07-28 13:55] aminecmi opened #55 "Find some way to fix/ignore/do something about the "ViewDebug" bug."
Occurs on 4.4.2 Samsung devices.

No idea on how to fix it. Seams to be related to multidex.

[2017-07-28 13:59] aminecmi commented on #55
[code]

[2017-07-28 17:34] aminecmi opened #56 "Add a Fab to read all"
Add this as a disabled by default setting

[2017-07-30 16:37] #55 closed

[2017-08-01 21:25] jtojnar opened #58 "Could not get unknown property 'appLoginUrl'"
I opened the project in Android Studio and received the following error:

[code]

[2017-08-01 22:17] jtojnar commented on #3
Someone was askin about F-Droid on [reddit](https://www.reddit.com/r/selfhosted/comments/6qritc/your_most_used_selfhosted_applications/dkzpl8k/) today.

I wanted to try to package the app but I [could not make their build server run](https://gitlab.com/fdroid/fdroidserver/issues/356).

[2017-08-02 04:43] aminecmi commented on #58
These are variables I added to run the espresso tests. I'll update the readme.

[2017-08-02 05:33] aminecmi commented on #58
@jtojnar I updated the contribution guide. You should have all you need to build the app. You can reopen if it's still not working.

[2017-08-02 05:33] #58 closed

[2017-08-02 08:09] aminecmi commented on #3
I think I had the same issue, and didn't want to waste time debugging this.

Are you taking care of this issue @jtojnar ?

[2017-08-02 12:39] jtojnar commented on #58
Sorry, I have not build Android applications for a several years (the last Android I used was Ice Cream Sendwich). Where do the `-P` arguments go?

[2017-08-02 12:44] aminecmi commented on #58
[This may help you](https://stackoverflow.com/questions/33216248/passing-p-parameters-to-gradle-from-android-studio/36509321) if you just want to generate an apk, just run `gradle assemble` followed by the parameters.

[2017-08-02 12:59] jtojnar commented on #3
Not anymore. Maybe it would be faster to request packaging on https://gitlab.com/fdroid/rfp/issues, though you would probably need to streamline the build a little more.

What non-free components does the app use? I count

* Fabric for analysis
* Firebase for analysis
* Mercury for article formatting

Would it be possible to not include non-free components if the variables are not specified, see t

[2017-08-02 13:14] aminecmi commented on #3
Yeah, I saw that they don't accept analytics tools. I have to check how to build the app without Firebase and Fabric (I'll add an issue for that).

Still, I don't think it's a priority for now. The apk is available from the releases page on github, or from jenkins.

[2017-08-02 13:21] aminecmi opened #59 "Build the app without Fabric and Firebase (Analytics) AND without play-services"
[Inclusion Policy](https://f-droid.org/wiki/page/Inclusion_Policy)

[2017-08-02 18:08] #29 closed

[2017-08-03 15:50] aminecmi commented on #59
Without Fabric, and outside of the Play Store, I won't be able to get bug reports.

As users don't tend to send crash reports (with the play store), I don't think they'll even try to find the logcat and then mail it to me.

Recurring unfixed bugs => Uninstalls and/or incomprehensible one star ratings (even if the app was downloaded on another store), without having any mean to solve the issue.

[2017-08-03 15:58] aminecmi commented on #3
As I commented [here](https://github.com/aminecmi/ReaderforSelfoss/issues/59#issuecomment-320010331), one of the many things that can't be done with F-Droid builds, is crash reporting/tracking.

Users will never send them to me, they'll just uninstall the app and even give it a one stare rating without much explanation.

I won't spend this much time trying to remove the deps from my app, if an alt

[2017-08-03 16:04] jtojnar commented on #3
F-Droid does not forbid phoning home completely, it just does not like using proprietary tracking mechanisms. They recommend using something called [Acra](http://www.acra.ch/), of course setting it up is extra work.

[2017-08-04 18:04] aminecmi opened #62 "Handle self signed certificates (How ?)"

[2017-08-05 10:24] aminecmi commented on #62
Login works but nothing else.

[2017-08-16 00:30] jtojnar opened #64 "Intro icons have too low resolution + Revert to old icon"
I have just installed the app and the first thing I saw were hideously blurred icons in the intro – well the new app icon is horrible in any resolution but enlarged like this, it is simply abhorrent. Does Android support vector icons yet? It would be much nicer.

[2017-08-16 04:44] aminecmi commented on #64
Hi,

I think I'll revert to the old icon anyway.
I just need to find a way to disable the ugly white round that's added.

If I remember correctly, it was also pixelated with the old icon, I'll find something better to fix this.

Thanks for posting this.

[2017-08-16 18:19] #64 closed

[2017-08-16 18:50] aminecmi opened #65 "Update glide"
[http://bumptech.github.io/glide/doc/migrating.html](http://bumptech.github.io/glide/doc/migrating.html)

[2017-08-16 19:45] aminecmi commented on #64
@jtojnar it's in testing. It should be out in the following days.

[2017-08-17 10:32] jtojnar commented on #64
It looks infinitely nicer. Thanks.

[2017-08-25 04:45] aminecmi opened #66 "Add the ability to customize the number of items fetched by the API."
- Add a setting entry.
- Use that value.

[2017-08-25 04:50] aminecmi opened #67 "Pagination"
Should be done in the same time as #66

Two possible solutions:

- A button at the bottom of the page if there's more items to load.
- A pull to load interaction to load the remaining items. There should be some kind of visual aid so the user understands the action he has to perform.

[2017-08-26 19:49] #66 closed

[2017-08-27 20:38] aminecmi commented on #67
https://github.com/omadahealth/SwipyRefreshLayout

[2017-08-29 20:47] aminecmi opened #68 "Setting to log every single api call error (and body null ?)"
(Should be like login log and read log)

[2017-08-30 07:30] aminecmi opened #69 "Add device Id to log and display it somewhere + update contribution"
1. Add a device ID to the debug logs.
2. Display it with the current app version on the settings screen (or somewhere else)
3. Update the contribution README and require adding it to bug reports.

[2017-08-31 17:58] aminecmi opened #70 "Loading images with self hosted certs"
https://futurestud.io/tutorials/glide-module-example-accepting-self-signed-https-certificates

[2017-08-31 18:01] #62 closed

[2017-09-02 07:49] #65 closed

[2017-09-02 08:03] #70 closed

[2017-09-02 12:53] aminecmi opened #71 "Add a header with the url"
Add a header to the lateral drawer with the URL of the selfoss instance.

[2017-09-02 15:57] #71 closed

[2017-09-06 07:30] aminecmi opened #72 "Fix the Settings links !"
Weirdly, they are redirecting me to Google search page...

[2017-09-06 07:35] aminecmi commented on #72
Need to add source url and tracker url to jenkins build.

[2017-09-06 19:29] #72 closed

[2017-09-07 11:33] aminecmi commented on #56
This isn't a priority at all. Not even sure if it would be usefull for anyone else.

[2017-09-10 11:00] #10 closed

[2017-09-10 11:00] #68 closed

[2017-09-10 17:25] #67 closed

[2017-09-21 12:09] aminecmi opened #74 "Wrong wording. "Read" articles are in fact "all" articles."
The "Read" tab of the app includes all the articles.
In Selfoss, it's referred as the "recent" articles.

[2017-10-02 09:15] knight-shade opened #75 "CONTRIBUTING.md"
**Doubt regarding parameters value.**
Hey @aminecmi ,
Trying to get ReaderforSelfoss up and running in android studio, got the Mercury API key and added my email as feedbackEmail, have some queries regarding it:
I have no idea what the value for other parameters should be, which are:
1. sourceUrl
2. trackerUrl
3. Do I need to add vales for appLoginUrl, appLoginUsername and appLoginPassword? If yes

[2017-10-02 10:31] aminecmi commented on #75
Hey @knight-shade ,

The sourceUrl and trackerUrl are the url of the source code, and the url of the issue tracker.
They can be empty, the only thing that won't work is that the settings links wont work.

Regarding appLoginUrl, appLoginUsername and appLoginPassword, they're only used for the tests, so you can keep them empty, or use your own selfoss instance url, username and password.

I'll updat

[2017-10-02 10:54] knight-shade commented on #75
Thank you @aminecmi

[2017-10-02 10:54] #75 closed

[2017-10-03 10:21] knight-shade opened #77 "Internationalization."
Hey @aminecmi , can I make translate the app into other languages except FR and NL and make a pull request?

[2017-10-03 11:21] aminecmi commented on #77
Hi @knight-shade ,

Sure ! You're more than welcome to add translations to the app.
You can easily add it via [crowdin](https://crowdin.com/project/readerforselfoss).

[2017-10-03 14:44] knight-shade commented on #77
@aminecmi , Just completed translation for Danish. Is it all right?

[2017-10-03 14:58] aminecmi commented on #77
Thanks so much @knight-shade ! Thanks for translating the play store listing strings too !

I'll try to push the update with the danish translation today, or at least this week end.

Again, thanks for your help.

[2017-10-03 15:26] knight-shade commented on #77
Love to help @aminecmi , looking forward to complete the remaining translations. Just wanted to know if you are fine with me making the pull request in translation since I am taking part in Hacktoberfest  and it requires me to make minimum of 4 pull request. I would be glade if you are on-board with the idea. Let me know how to make pull request if you are okay with it. :)

[2017-10-03 16:08] aminecmi commented on #77
No problem. You could also make any other pull request !

[2017-10-03 18:37] aminecmi commented on #77
Hi @knight-shade according to crowdin, there seems to be some issues with the translations, and a lot of the translations are just the suggested by Microsoft.
Are you sure you speak danish ? Not to be rude, but crowdin reported a lot of issues.

[2017-10-04 02:32] knight-shade commented on #77
Hi @aminecmi , nope I don't speak Danish, I speak English. I used Google Translate to get the danish translation for all the strings. Are the danish translation not up to mark?

[2017-10-04 04:41] aminecmi commented on #77
@knight-shade only translate if you speak the language, please.

Google translate and other translation tools aren't perfect (I could have done that myself), and I want it to be translated by people speaking the language.

I'll close the issue now. Open another one if you need. And please, only translate to languages you speak fluently.

[2017-10-04 04:42] #77 closed

[2017-10-12 12:05] aminecmi opened #79 "Easy access to the layout style switch."
### Description

Switching from ListView to CardView is somewhat hidden in the settings page.
It may be good to switch to something like [this](https://github.com/gjiazhe/LayoutSwitch).

[2017-10-22 14:27] aminecmi opened #82 "Crash when using the internal viewer on Android 4.4"

[2017-10-22 14:55] #74 closed

[2017-10-22 14:55] #82 closed

[2017-10-23 13:02] aminecmi opened #83 "Handle relative urls in items links."
Some links may be relative urls. Try to handle this some way. [Are they ?](https://github.com/SSilence/selfoss/issues/989)

[2017-10-23 14:12] aminecmi opened #86 "Report bug from within the app"

[2017-10-23 16:20] ReaderForSelfoss-Bot opened #87 "Issue created from the dev app"
*Sent by [**test@toot.fr**](mailto:test@toot.fr)*

Description:
---

This is a description. It's just a test.

Device info:
---
<table>
<tr><td>App version</td><td>15306-github</td></tr>
<tr><td>App version code</td><td>15306</td></tr>
<tr><td>Android build version</td><td>4309834</td></tr>
<tr><td>Android release version</td><td>4.4.2</td></tr>
<tr><td>Android SDK version</td><td>19</td></tr>
<tr

[2017-10-23 16:21] #87 closed

[2017-10-23 16:29] #86 closed

[2017-10-23 17:08] ReaderForSelfoss-Bot opened #90 "Just a test"
*Sent by [**toto@tiot.fd**](mailto:toto@tiot.fd)*

Description:
---

Testing the report feature from the prod app

Device info:
---
<table>
<tr><td>App version</td><td>15400-store</td></tr>
<tr><td>App version code</td><td>15400</td></tr>
<tr><td>Android build version</td><td>4294783</td></tr>
<tr><td>Android release version</td><td>8.0.0</td></tr>
<tr><td>Android SDK version</td><td>26</td></tr>

[2017-10-23 17:09] aminecmi opened #91 "Fkdlmsms"
Description:
---

Hdjslslqj s sjksks skqksks

Device info:
---
<table>
<tr><td>App version</td><td>15400-store</td></tr>
<tr><td>App version code</td><td>15400</td></tr>
<tr><td>Android build version</td><td>4294783</td></tr>
<tr><td>Android release version</td><td>8.0.0</td></tr>
<tr><td>Android SDK version</td><td>26</td></tr>
<tr><td>Android build ID</td><td>OPR3.170623.008</td></tr>
<tr><td>De

[2017-10-23 17:10] #91 closed

[2017-10-23 17:10] #90 closed

[2017-10-23 17:57] aminecmi opened #92 "Full height cards bug."
Full height card images take all the card space and comes under the action bar.

[2017-10-23 17:58] aminecmi commented on #92
![Example](https://i.imgur.com/6NWzOOC.png)

[2017-10-29 12:55] #92 closed

[2017-11-01 18:48] #45 closed

[2017-11-04 19:15] aminecmi opened #98 "Use the kotlin implementation of the drawer"
For a "cleaner" code, using [the kotlin implementation of the material drawer](https://github.com/zsmb13/MaterialDrawerKt) would be great.

[2017-11-06 12:45] aminecmi opened #99 "Use the kotlin coding style"
[Style guide](https://android.github.io/kotlin-guides/style.html)

[2017-11-10 07:19] shubham-negi commented on #99
Hi I would like to contribute, if you accept this could be the very first open-source contribution. It would be great if you could just tell me in details what needs to be done.

[2017-11-10 07:28] aminecmi commented on #99
Hi @shubham-negi , this issue would be a great first contribution !

All you'll have to do is use the [kotlin style guide](https://android.github.io/kotlin-guides/style.html) to format the kotlin code of the app.

It should be easy, even if you don't know a lot about kotlin.

[2017-11-10 07:50] shubham-negi commented on #99
Wooo @aminecmi , you're real quick watching over the issue ;D . Great
I've started looking into the style guide, in the meantime how do I start working. (newbie questions ;p)

[2017-11-10 08:36] aminecmi commented on #99
The [contribution guide](https://github.com/aminecmi/ReaderforSelfoss/blob/master/.github/CONTRIBUTING.md) should help you set up the project and get started.

[2017-11-10 11:00] shubham-negi commented on #99
@aminecmi I've gone through the instruction and ready to start. I'll just configure the development environment and will get back to you if stuck somewhere.

[2017-11-10 11:21] shubham-negi commented on #99
@aminecmi I need a bit of your time to configure and run project.

[2017-11-10 11:51] aminecmi commented on #99
@shubham-negi what's the problem ? Do you have a specific error ?

[2017-11-10 11:57] shubham-negi commented on #99
I'll downloaded installed the latest community IntelliJ, but following the steps mentioned I'm lost. Can you help me into that.

[2017-11-10 12:20] aminecmi commented on #99
Let's talk about this on the gitter chat please. I mentioned you, if you didn't receive any notification, the link is in the readme.

[2017-11-10 13:33] aminecmi commented on #99
I cleaned the comments because they weren't related to the issue itself ?

[2017-11-11 09:50] aminecmi commented on #98
The build with this is failing.

Reported [here](https://github.com/zsmb13/MaterialDrawerKt/issues/61) and [here](https://github.com/mikepenz/AboutLibraries/issues/350)

[2017-11-11 13:30] #98 closed

[2017-11-11 15:55] aminecmi opened #101 "Handle support FAB hide on scroll."
Because I added [this](https://github.com/rubensousa/FloatingToolbar), I had to move to the support version of the Floating Action Buttons.

The support FAB does not "auto hide" easily, so I'll have to make them.

[2017-11-11 15:56] aminecmi opened #102 "New article reader action bar?"
Use [this](https://github.com/rubensousa/FloatingToolbar) as the action bar for the acticle reader.

[2017-11-11 15:56] aminecmi opened #103 "New article reader action bar"
Use [this](https://github.com/rubensousa/FloatingToolbar) as the action bar for the acticle reader.

[2017-11-11 19:40] #103 closed

[2017-11-11 19:42] #102 closed

[2017-11-11 19:42] aminecmi commented on #102
Duplicate of #103

[2017-11-11 21:16] aminecmi opened #108 "Fixes and enhancements for the new article reader."
- ~~When clicking the "read more" button, there must be a loader.~~

- ~~only  the thumbnail image should be displayed (no image if no thumbnail)~~

- ~~scroll to top after the "read more" content is loaded~~

[2017-11-12 06:25] aminecmi opened #109 "Use kotlin extension instead of findViewById to clean up the code"

[2017-11-12 07:43] aminecmi opened #110 "Issues with the new article reader (may be irrelevant after v1.5.4.10)"
- The app should stay open on the article when resuming. The current behavior is that the article is displayed for a second, then the article list appears, and is reloaded.

- The viewed article shouldn't be kept in the navigation history after closing it. The "back" button on the home activity should only close it.

[2017-11-12 07:43] #108 closed

[2017-11-12 16:06] #109 closed

[2017-11-12 16:32] #101 closed

[2017-11-13 05:43] aminecmi opened #113 "When scrolling up, the Fab is shown when the action bar is visible."
- hide the bar on scroll ?

- simply don't show the Fab if the bar is visible ?

[2017-11-13 05:45] aminecmi opened #114 "Some links aren't clickable"
Example [Here](http://www.androidpolice.com/2017/11/12/play-games-v5-3-comes-whole-new-look-three-new-mini-games-apk-download/)

[2017-11-13 18:36] #113 closed

[2017-11-13 19:39] aminecmi opened #115 "Displaying issue (card/list item height)"
![](https://i.imgur.com/r6Ab2jy.png)

[2017-11-13 19:49] aminecmi opened #116 "Endless scroll issue when hiding items"
When hiding articles, "endless scroll" isn't working as intended. (Items not loading.)

[2017-11-14 18:23] #114 closed

[2017-11-16 17:51] aminecmi opened #117 "The tab badge should display the total number of articles and not the current number of loaded articles."

[2017-11-16 18:37] #117 closed

[2017-11-18 14:09] #116 closed

[2017-11-18 14:12] aminecmi opened #118 "Remove "(Beta)" text from endless scroll option."
The endless scroll option seems stable enough.

The beta text can be removed.

[2017-11-18 14:14] aminecmi commented on #110
At 1.5.4.13, and no sign of these issues.

[2017-11-18 14:14] #110 closed

[2017-11-19 08:11] aminecmi commented on #115
Closing this. I'll open specific ones for each layout.

[2017-11-19 08:11] #115 closed

[2017-11-19 08:15] aminecmi opened #119 "Fix all the issues with the List view and the action bar."
The list view has a lot of displaying issues.

The action bar on each item adds even more issues.

![](https://camo.githubusercontent.com/e2e21ed65584659754c79562f50bc40fc495c16a/68747470733a2f2f692e696d6775722e636f6d2f72364162326a792e706e67)
![selection_011](https://user-images.githubusercontent.com/510304/32988725-354cc35e-cd0a-11e7-879c-7ebe27440c7c.png)

[2017-11-19 08:17] aminecmi opened #120 "Recyclerview Adapter issues."
Trying hide ```itemImage``` (View.GONE) the ImageView does not solve the issue.

Is it maybe related to the CardView or ConstraintLayout not "reverting" to the right size ?

![selection_010](https://user-images.githubusercontent.com/510304/32988734-5aa123ca-cd0a-11e7-90fd-aa7fc22ea5fb.png)

[2017-11-21 13:42] aminecmi opened #121 "lateinit property itemImage has not been initialized in SourcesListAdapter."
https://github.com/aminecmi/ReaderforSelfoss/blob/ebf4d294a8cb9d7258872162bc889af237a3582f/app/src/main/java/apps/amine/bou/readerforselfoss/adapters/SourcesListAdapter.kt#L62

[2017-11-21 18:05] #121 closed

[2017-11-23 20:27] #119 closed

[2017-11-23 20:29] #118 closed

[2017-11-24 12:09] aminecmi opened #124 "Changing tab doesn't change the search offset"
Scrolling in some tab, and then changing, will result in fetching items with the old offset.

[2017-11-24 18:50] #124 closed

[2017-11-25 12:13] #99 closed

[2017-11-28 10:57] aminecmi opened #127 "Fix typo."
https://crowdin.com/translate/readerforselfoss/16/en-zhcn#542

[2017-11-28 18:20] #127 closed

[2017-11-29 12:37] aminecmi opened #132 "Clean values folders"
Because of a configuration issue, values folders synced from crowdin were not at the correct format.

When #131 PR is merged, the old values folders should be deleted.

[2017-11-29 18:09] #132 closed

[2017-12-03 21:10] #50 closed

[2017-12-03 21:15] aminecmi opened #138 "ViewPager enhancements"
- [ ] Infinite loading
- [ ] Indicator action
- [ ] Setting to disable/enable it.
- [ ] ToolBar

[2017-12-04 12:27] aminecmi opened #140 "Change the automatic version number."
I want to be able to deploy another version of the app without having to add a tag for simple things like translations etc.

I'll have to change the Changelog file to represent that.

[2017-12-04 18:57] #140 closed

[2017-12-04 19:56] aminecmi opened #142 "Wrong theme for the reader activity"
The reader activity has the wrong theme colors.

[2017-12-05 19:01] #142 closed

[2017-12-06 10:34] aminecmi opened #144 "The viewpager crashes when passing a too large parcelable (the list of articles)."
[Maybe use a static object containing the loaded articles ?](https://stackoverflow.com/a/12848199)
[Serialize the articles ?](https://stackoverflow.com/a/44539583)

[2017-12-07 04:56] aminecmi commented on #144
The issue is still not fixed...

[2017-12-07 05:20] #144 closed

[2017-12-08 02:03] wjjessen opened #147 "Wording problem for the "swipe to mark" items preference option."
The option "Mark articles as read when scrolling..." is not working. I expect that articles will be marked as read when I scroll past them but they're not.

App version: 156201712070626-store
Selfoss version: 2.18-feef0a5
Device: LG G5
OS: Android 6.0.1

[2017-12-08 04:54] aminecmi commented on #147
Hi,

I think I misworded the option. This one should mark them as read when you **swipe** between them in the viewpager (article viewer). I will fix this.

Would you find the "scroll to mark" feature useful ?

[2017-12-08 08:35] #147 closed

[2017-12-08 12:53] wjjessen commented on #147
If by "scroll to mark" you mean scroll past read items to the first unread item, it seems unnecessary if the Selfoss defaults.ini file is configured with "auto_hide_read_on_mobile=1". That setting hides read items in Reader for Selfoss.

[2017-12-08 13:01] aminecmi commented on #147
@wjjessen The setting on the website has no relation with the app.
The setting I added mark them as read when you swipe left and right in the article viewer (after clicking an article)
I could add another setting that would mark items as read that would work as the "auto_hide_read_on_mobile" setting for the web version.

[2017-12-08 14:50] eephyne opened #149 "feature: support gif animation"
### Description

It would be nice to have gif animation on article instead of having to open the webpage
I can provide more information if needed but right now I can't really see what to add :p.

thanks for your work

[2017-12-08 14:57] aminecmi commented on #149
Hi @eephyne,

Thanks for the request. Do you have some rss sources that have gifs inside. I would like to test this before to see if it's easy or not.

[2017-12-08 14:59] eephyne commented on #149
of course.

http://lesjoiesducode.tumblr.com/rss for exemple

[2017-12-08 16:05] aminecmi commented on #149
@eephyne What type of spout do you use for this source on the web instance of Selfoss ?

[2017-12-08 16:36] eephyne commented on #149
If by spout you mean the type of RSS is leave it standard so RSS Feed

[2017-12-08 16:39] aminecmi commented on #149
Thanks, I'll look into this.

[2017-12-08 20:30] aminecmi commented on #149
@eephyne, Displaying the image inside the article in the article viewer will be a little hard.

I'll do it, but not right now.

[2017-12-10 16:45] #149 closed

[2017-12-10 16:49] aminecmi commented on #149
@eephyne The feature is enabled. If you want to use it, you'll have to enable the `Use a webview in the article viewer.` setting in the app.

The loading may be a little slower, but gifs will be displayed.

[2017-12-10 16:58] eephyne commented on #149
I downloaded the latest apk but I don't find the option, either I'm blind or the build isn't up to date.
You have a funny way of "I'll do it, but not right now", you're pretty fast :)

[2017-12-10 17:06] aminecmi commented on #149
@eephyne It's still in alpha on the play store. I'll use the  app for a couple of days, and if everything works as intended, I'll move the apk to production (You can download manually the alpha apk from [here](https://jenkins.amine-bou.fr/job/ReaderForSelfoss/lastSuccessfulBuild/artifact/SignApksBuilder-out/selfoss-key/selfoss/app-githubConfig-release-unsigned.apk/app-githubConfig-release.apk))

W

[2017-12-10 17:08] eephyne commented on #149
huhu, using your link, the app crash on startup

[2017-12-10 17:17] aminecmi commented on #149
On it. I'll update this comment with the fixed apk when it's done.

[2017-12-10 18:23] aminecmi opened #151 "NPE without an unused library."
Without [this](https://github.com/aminecmi/ReaderforSelfoss/blob/ddb75e0d936f80743ee6dca2f66eafd901eb3e87/app/build.gradle#L183) line, there is a NPE at [this](https://github.com/aminecmi/ReaderforSelfoss/blob/ddb75e0d936f80743ee6dca2f66eafd901eb3e87/app/src/main/java/apps/amine/bou/readerforselfoss/HomeActivity.kt#L969) line.

[2017-12-10 18:42] #151 closed

[2017-12-10 19:12] aminecmi commented on #149
@eephyne the issue is solved. You can use the same link to download the apk.

[2017-12-10 19:32] eephyne commented on #149
works great ! thanks
Juste one thing, the webview background does'nt follow the theme. work on light but still light bg on dark theme.
I also had one issue but cannot reproduce. When loading the gif rss of already seen items the first time, it stopped showing the gif after five or six swipe (even the first ones did'nt show up anymore).
It seem to also have solved another issue I had with low resol

[2017-12-10 19:37] aminecmi commented on #149
@eephyne glad it works :)

Could you open another issue for the background theme colors please ?

And if the other bugs happen again, could you open issues for each one ?

Thanks

[2017-12-10 21:59] aminecmi opened #152 "Set webview background according to theme"
[See here for user report](https://github.com/aminecmi/ReaderforSelfoss/issues/149#issuecomment-350575206)

[2017-12-11 00:05] ReaderForSelfoss-Bot opened #153 "Change font size"
*Sent by @wjjessen*

Description:
---

Is there a way to change the font size of the article list or article viewer?

Device info:
---
<table>
<tr><td>App version</td><td>156201712070626-store</td></tr>
<tr><td>App version code</td><td>1561712341</td></tr>
<tr><td>Android build version</td><td>1606419497545</td></tr>
<tr><td>Android release version</td><td>6.0.1</td></tr>
<tr><td>Android SDK versi

[2017-12-11 00:09] wjjessen commented on #153
Please remove my email address

[2017-12-11 05:48] aminecmi commented on #153
@wjjessen neither of these features is available as of 1.5.7.x.

Changing the font size can be added to each textview of the list/card view.

For the article viewer content, as it's HTML content, there would be two options: have the same font size for everything (titles, paragraphs...), but I think that would make it unreadable, or I could add a font size option for every single (common) HTML elem

[2017-12-11 06:33] aminecmi opened #154 "Add to favorite from the article viewer"
It would be great to be able to add an article as favorite from the article viewer.

Maybe add a heart icon at the toolbar to do that.

[2017-12-11 20:30] aminecmi opened #155 "Source icon from text issue."
[This line](https://github.com/aminecmi/ReaderforSelfoss/blob/master/app/src/main/java/apps/amine/bou/readerforselfoss/utils/ItemsUtils.kt#L11) may cause a "StringIndexOutOfBound exception".

[2017-12-14 05:25] aminecmi opened #157 "Weird behavior with Mercury API."
Loading the website content do not seem to work the first time when taping the "more" button (the one that calls the Mercury API).

The first time, an image header is added, and the second time, the content seam to change.

[2017-12-17 14:44] Mashinist555 commented on #155
Hi!
May I fix this issue? If yes, please assign me to the task.

[2017-12-17 15:29] aminecmi commented on #155
Hi @Mashinist555,

I can't assign it to you. It's maybe because you need to be a contributor.
Still, I added the status "Taken" so you can take it, and make a pull request whenever you want.

[2017-12-17 16:13] aminecmi commented on #155
Thanks @Mashinist555. This is now closed.

[2017-12-17 16:13] #155 closed

[2017-12-17 18:51] #154 closed

[2017-12-17 19:40] #152 closed

[2017-12-17 20:30] #157 closed

[2017-12-18 12:38] aminecmi commented on #120
The like icon isn't refreshed after getting back from the reader activity.

[2017-12-19 20:35] aminecmi opened #160 "ViewPager listener won't work when resuming the reader activity."
The Viewpager listener doesn't seem to work after clicking a link and getting back to the reader activity (resuming the activity).

The pagination isn't updated and the "mark as read on swiping" isn't triggered

[2017-12-20 05:33] #160 closed

[2017-12-22 14:23] aminecmi opened #161 "OutOfMemory with HtmlHttpImageGetter"
When using a simple textview, some images downloading create OOM crashes.

Maybe migrate entirely from the Textview in favor of the Webview ? (Remove the Textview, remove the Webview setting, use the Webview)

[2017-12-22 14:26] aminecmi opened #162 "Update details"
Add some way to display the new features after an update.

Maybe a [bottom sheet](https://material.io/guidelines/components/bottom-sheets.html#bottom-sheets-persistent-bottom-sheets) ? ( [FastHub](https://github.com/k0shk0sh/FastHub) way is great)

[2017-12-29 23:18] aminecmi opened #164 "Page indicator position"
The page indicator hides the bottom content of the article. To fix this, there is two options:

- Move the page indicator to the top of the screen (and add some top margin to the title)

- keep the page indicator at the bottom, but add some margin at the bottom of the content and to the Fab too.

[2018-01-01 06:56] #164 closed

[2018-01-02 06:09] aminecmi opened #165 "Handle bigger aspect ratio phones"
[See here](https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed:+blogspot/hsDu+(Android+Developers+Blog))

[2018-01-03 13:01] aminecmi commented on #32
Use Toppings from Scoops (Current lib)

[2018-01-03 18:07] #161 closed

[2018-01-04 08:45] aminecmi opened #167 "Gradle Daemon DIES !"
[code]

[2018-01-04 11:55] aminecmi opened #168 "Unknown color for drawer items."
[code]

[2018-01-04 19:46] #168 closed

[2018-01-05 09:51] #165 closed

[2018-01-06 00:31] aancel opened #169 "Article list automatically scrolls to top when exiting an article"
### Prerequisites

* [x] Are you running the latest version? 157201801020634-store
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

When exiting an article, the article list sometimes scrolls to the top of the list. It seems to happen when new articl

[2018-01-06 03:53] aminecmi commented on #169
Hi,

This is indeed the current behavior. It was done like this so that the content would be refreshed when resuming the app after it was sent to the background (switching apps for example). The behavior is the same when going back to the list from the article viewer.

- Should the articles be loaded AND the view stay at the right (old) article ? (This could be tricky)

-  Should this be handled l

[2018-01-06 16:08] aancel commented on #169
OK, I'm glad to hear that this is an existing behavior, and not a device specific issue !

Regarding to your questions:
- Indeed this would be the behavior that I would like ! I see why it would be tricky.

- Yes, this could be implemented this way. I think that scrolling to the top could also be implemented by clicking on the "Reader for Selfoss" text at the top, don't you think ? Anyone could be

[2018-01-07 18:35] aminecmi commented on #169
Hi,

Right now on the alpha channel, there is a first implementation of the fix.

Right now, even if the data updates, the list doesn't scroll. That means that if new articles are added at the top, the scroll position doesn't change meaning that the new articles may push the content at the bottom without the view scrolling to the old article.

I'll try to make the view scroll back to the old artic

[2018-01-07 18:35] aminecmi commented on #169
Hi,

Right now on the alpha channel, there is a first implementation of the fix.

Right now, even if the data updates, the list doesn't scroll. That means that if new articles are added at the top, the scroll position doesn't change meaning that the new articles may push the content at the bottom without the view scrolling to the old article.

I'll try to make the view scroll back to the old artic

[2018-01-09 06:59] aancel commented on #169
Hello,
Thanks for the quick work !
Just a dumb question regarding alphas, can I access it to test it ?
I've subscribed to the beta channel on the Play Store, but for the alphas, wasn't there something via Google + ?
You can also put it on the release page of github, I don't have issues with sideloading apks.

[2018-01-09 07:08] aminecmi commented on #169
Currently I'm the only one on the alpha. As the build and deployment is automated, I prefer the  alpha to be just for me to test if everything works. Regarding the beta, I never push to it because there is no one using it. I can do it if you'd like to be beta tester.

If you prefer to sideload, you can actually get the last APK (the alpha one) from the Jenkins page [here](https://jenkins.amine-bou

[2018-01-09 07:26] aancel commented on #169
OK thanks for the information !
I've sideloaded the apks as beta releasing usually takes some time.
I'll take some time to test it and report back !
(I can already tell you had the right feeling about giving the user a hint about new updates with a "new updates available" button)

[2018-01-09 08:31] aminecmi commented on #169
@aancel the "new update" feature is only available on the downloadable APK, as the Play Store will probably notify you when a new update is available.

[2018-01-11 18:49] aancel commented on #169
A little feedback about the new version: I really like it this way !
It's a lot like I was browsing news with feedly previously, but self-hosted !
As you said before a way to indicate new updates and/or going to the top would be nice !
I've had several force close on a side note, but I was not able to reproduce them in a deterministic manner. It seems to be happening when my server was not availab

[2018-01-11 19:06] aminecmi commented on #169
Hi thanks for the feedback!

I'll add the new items indicator. If you want to go to the top, you can tap again on the current tab. It'll only scroll to the top without loading the new data.

I'm seeing a lot of crashes for an LG V20. It seems that I'm not receiving items from the API. Could you please install the beta version directly from the play store please, so you'll get the update (the updat

[2018-01-16 21:01] aminecmi commented on #169
I just pushed this to the release track. I'll add two new issues for the remaining tasks.

[2018-01-16 21:01] #169 closed

[2018-01-16 21:04] aminecmi opened #172 "Remember scroll position even after loading new articles."
When resuming the app, the scroll position is kept (I'm at article number 5), but if new articles are loaded, the position isn't updated accordingly (I'll still be at article 5 even if I added 2 new articles. I should have been moved to article 7)

[2018-01-17 12:11] aancel commented on #169
@aminecmi Ok, thanks for the updates and the associated development !
I did installed the beta version and it is working very well for me. I also noticed the behavior you describe in #172.
Thanks again for the great app !

[2018-01-20 18:59] aminecmi opened #173 "Create a github.io page for ReaderForSelfoss"
Don't forget to change the urls everywhere.

[2018-01-25 23:02] ReaderForSelfoss-Bot opened #174 "Tiny font on the webview"
*Sent by [**jeffnospam@horslimites.org**](mailto:jeffnospam@horslimites.org)*

Description:
---

Some cards show  up in really tiny font, sometimes in the same feed, and I can't seem to figure out why.

Device info:
---
<table>
<tr><td>App version</td><td>1571801212-alpha</td></tr>
<tr><td>App version code</td><td>1571801212</td></tr>
<tr><td>Android build version</td><td>A520WVLS1BQK1</td></tr>
<

[2018-01-26 03:42] aminecmi commented on #174
Hi,

Thanks for the report.

Do you have a screenshot of the cards with tiny font please?

I use the card view everyday, and never saw this.

Thanks.

[2018-01-26 19:58] whitenoise2 commented on #174
Absolutely - thank you for the fast reply. Here's what the effect is on my phone:
![screenshot_20180125-175637](https://user-images.githubusercontent.com/3268858/35458180-635f4a3a-02a9-11e8-9e9c-2f0fe5e7da31.png)

[2018-01-26 20:01] aminecmi commented on #174
Great.

Thanks for the screenshot. I'll try to fix this soon.

[2018-01-27 20:42] aminecmi commented on #174
@whitenoise2 I just pushed a fix. It should be available in a couple of hours.

[2018-01-28 18:25] whitenoise2 commented on #174
Hi there!

Thanks for the quick response - although it does ensure a base size for all articles, it does not make them conform to the set size. Here are two items from the same feed, as returned from selfoss, and their rendered results:

    {
        "id": "8281",
        "datetime": "2018-01-28 11:05:00",
        "title": "Syrie: un temple de 3000 ans endommagé par des raids turcs",
        "con

[2018-01-28 18:41] aminecmi commented on #174
Hi,

Thanks for all the details.
I reopened the issue, and I'll try to pinpoint the issue.

[2018-01-29 12:28] aminecmi commented on #174
See https://stackoverflow.com/questions/12573666/webview-text-size#comment16997556_12574566 and https://stackoverflow.com/a/3796215/1876322

[2018-01-30 08:35] aminecmi commented on #174
@whitenoise2 are you still seeing this issue ? I can't reproduce it at all.

[2018-01-30 14:32] whitenoise2 commented on #174
i am, but I can't seem to make sense of it - some items still do not respect the set font size.  I'll try some more to identify a pattern if possible.

Le 30 janvier 2018 03:35:54 HNE, Amine Bou <notifications@github.com> a écrit :

--
idm/househead :: ninja logiciel
         photographe amateur
--

[2018-01-30 15:18] aminecmi commented on #174
@whitenoise2 I added the source of the previous example with a simple RSS "spout", but I never get any issue with the font size.

It may be a device specific issue.

[2018-02-07 12:38] #153 closed

[2018-02-07 12:40] #2 closed

[2018-02-07 20:14] #56 closed

[2018-02-13 06:14] aminecmi opened #178 "Expand images on click in the webview"
[link](https://stackoverflow.com/a/33733098)

[2018-03-01 13:27] jbfavre opened #179 "Offline mode & sync support"
Currently, marking an article as read in the app trigger an HTTP request to the Selfoss API.
If you've no network, this call fails and you've to trigger it later.

I'd like to be able to work "offline", meaning performing any action I want/need.
When network is back, app will sync its state with the server one.
Article should be bulk marked as read

[2018-03-01 13:55] jbfavre opened #180 "Add confirmation dialogs (with explanations) for the "update" and "mark all" menu items."
In the main menu (in the upper right corner), the 'Update' ("Mettre à jour" in french) entry triggers the update on server side (which can be *very* harmful when your Selfoss instance handles >500 RSS feeds).
It's confusing because it's easy to understand the update from the android app point of view.
Disabling it should be a parameter's option, or at least a confirmation should be required.

On t

[2018-03-03 15:01] #180 closed

[2018-03-19 03:18] 7twin opened #183 "Wrong English translation."
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description
Half the app is in indonesian

### Steps to Reproduce

1. Install App
2. Go through initial slideshow
3. Half the buttons, menus and settings

[2018-03-19 05:51] aminecmi commented on #183
Hi @7twin,

The app isn't completely translated in Indonesian, that's why some strings are still appearing in English.

If you want to, you can help translate the remaining strings (there's a link in the readme redirecting to the crowdin page).

[2018-03-19 06:02] 7twin commented on #183
@aminecmi as described in expected behaviour, I am actually interested in the english version of it, not the indonesian one

[2018-03-19 06:05] aminecmi commented on #183
@7twin for now, the app is in the language of your phone.

I could add an option to change that, but it's not a priority.

[2018-03-19 06:10] 7twin commented on #183
@aminecmi my phone is set to english, I can't speak indonesian

[2018-03-19 06:14] aminecmi commented on #183
@7twin, I finally understood.

Just tested it, and yes, there is an issue.

I'll try to fix this quickly.

[2018-03-19 06:25] 7twin commented on #183
@aminecmi great, thanks! :relaxed:

[2018-03-19 06:54] aminecmi commented on #183
@7twin I think I have found the issue. I uploaded a fix to the alpha channel. It will be pushed to the production channel later today.

[2018-03-19 06:57] 7twin commented on #183
@aminecmi I'll make sure to download the update, as soon as it is available via appstore and report back if that fixed it, thanks again for such quick response.

[2018-03-19 08:21] aminecmi commented on #183
Hi,

I just pushed the version to production. It should be available in a couple of hours.

It fixed the issue on my phone, could you check if it did with you too ?

Thanks.

[2018-03-19 15:42] 7twin commented on #183
@aminecmi yes, it did, great job! after the update I think the english translation for the menu item: settings>article viewer>"mark articles as read when swipi • •" (yes the dots are in the middle) might have become too long (gets cut off), not sure if thats an issue, besides that it's done, thanks again!

[2018-03-19 16:11] aminecmi commented on #183
@7twin Great! I'm gonna close this issue then.

Could you please open a new issue with the cut off text please ?

[2018-03-19 16:11] #183 closed

[2018-03-19 16:49] 7twin opened #184 "Setting cut off"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

The text is cut off, see below
settings>article viewer>"mark articles as read when swipi • •"

### Screenshots (optional)

![image](https://

[2018-03-19 18:47] alexa346 commented on #184
I would like to give this a try if its still available?

[2018-03-19 18:48] aminecmi commented on #184
@alexa346 yep go ahead.

I was thinking of having a smaller title and having the cut off text as subtitle. If you have another solution, don't hesitate.

[2018-03-24 14:07] aminecmi commented on #174
Hi @whitenoise2 , any news on this issue ? Are you still seeing this ?

[2018-03-27 13:03] ReaderForSelfoss-Bot opened #185 ""all posts weren't read""
*Sent by [**danielericsandoval@gmail.com**](mailto:danielericsandoval@gmail.com)*

Description:
---

Whenever I try to use the "mark all as read" button in a filtered view, I sometimes get the message "all posts weren't read". Refreshing the filtered view and hitting the button again allows me to successfully mark all as read. But that's a lot of extra clicks.

Device info:
---
<table>
<tr><td>App

[2018-03-28 17:38] aminecmi commented on #185
I contacted the user, added opt-in debug options to solve the issue.

The user also reporder #186

[2018-03-28 17:40] aminecmi opened #186 "The number of unread articles in the lateral panel for a tag does not update when an article is read."

[2018-03-28 17:41] aminecmi commented on #184
@alexa346 any news on the issue ?

[2018-03-30 01:58] 7twin opened #187 "Title preview overlaps itself"
See below

![Screenshot](https://i.imgur.com/xvwwrmE.jpg)

[2018-03-30 04:54] aminecmi commented on #187
Can you post your device info please ? I can't reproduce this on my end with the same articles.

[2018-03-30 20:14] #185 closed

[2018-03-30 20:16] aminecmi commented on #185
This was caused by the "infinite scroll" setting.

The mark all only worked if there was no "infinite scroll" triggered.

[2018-03-31 00:04] 7twin commented on #187
@aminecmi
- Device (manufacturer, model ...) Xiaomi Redmi Note 4
- OS (Android Version, ROM/Stock, Rooted/not, mods...) not rooted, stock, no mods, android 7

[2018-03-31 05:40] #187 closed

[2018-04-01 20:15] aminecmi opened #188 "Reset the `allItems` field on filter change."
"Mark all as read" inside of a filtered view marks the previously visible articles as read.

[2018-04-02 07:09] #188 closed

[2018-04-06 11:04] aminecmi commented on #184
@alexa346 I'm gonna fix the issue myself.
If you still want to help, take issues from [here](https://github.com/aminecmi/ReaderforSelfoss/labels/Up%20For%20Grabs).

[2018-04-06 11:06] aminecmi commented on #167
This seams to be fixed somehow.

[2018-04-06 11:06] #167 closed

[2018-04-07 08:40] #184 closed

[2018-04-07 17:40] #186 closed

[2018-04-12 13:08] ReaderForSelfoss-Bot opened #191 "The code view in all of the dark themes have unreadable text"
*Sent by [**daniel@desandoval.net**](mailto:daniel@desandoval.net)*

Description:
---

Title says it all. Basically every time I read an article with code embedded in it, the white code on the grey background makes it impossible to read. I'm vision impaired so the dark theme is very helpful to me but 20% of the articles I read require that I open them elsewhere

Device info:
---
<table>
<tr><td>Ap

[2018-04-29 05:39] aminecmi opened #192 "Mark as read does not woek for the last articles"
Description:
---

This could be due to the infinite loading.

[2018-05-07 12:08] aminecmi opened #193 "Remaining theme issues"
- Toolbar (and status bar) text color.

- Settings icons tint.

[2018-05-07 12:12] aminecmi commented on #191
Fixed in 487d484baeded78d0223e741ec5efd62b3689819

[2018-05-07 12:12] #191 closed

[2018-05-07 12:13] #32 closed

[2018-05-20 00:01] aminecmi commented on #3
Because of/thanks to RGPD, I may remove every Firebase or Fabric dependencies, and then be able to deploy the app to fdroid.

[2018-05-22 19:14] #59 closed

[2018-05-22 19:15] aminecmi commented on #3
As #59 is fixed. The only missing thing is Mercury api.

[2018-05-23 18:49] aminecmi commented on #3
Mercury api is removed.

[2018-05-23 19:20] aminecmi commented on #3
Request done [here](https://gitlab.com/fdroid/rfp/issues/585).

[2018-05-23 19:20] #3 closed

[2018-05-24 19:36] Rudloff opened #197 "Build errror with Gradle"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

I'm getting an error when I try to build v1.6 with Gradle.

### Steps to Reproduce

1. `./gradlew assemble -P appLoginUrl="URL" -P appLoginU

[2018-05-24 19:44] aminecmi commented on #197
@Rudloff I just pushed a commit that should fix your issue.

[2018-05-24 20:38] Rudloff commented on #197
Thanks! It builts correctly now.

[2018-05-24 20:38] #197 closed

[2018-06-05 13:48] aminecmi opened #201 "Notifications on new items"
(asked on the developer console)

[2018-06-06 15:04] anandkumarkparmar commented on #79
Hi @aminecmi, I would love to contribute in this project. Can I work on this?

[2018-06-06 15:11] anandkumarkparmar commented on #79
Thanks @aminecmi.

[2018-06-06 18:53] anandkumarkparmar commented on #79
Hi @aminecmi, Can you please help me to setup the project? I have imported the project in Android Studio. I have to set 3 parameters in gradle.properties .

What will be the value of those params? In the starting of the app I have to enter some url, what is that url?

[2018-06-06 19:04] aminecmi commented on #79
As mentionned [here](https://github.com/aminecmi/ReaderforSelfoss/blob/master/.github/CONTRIBUTING.md), the gradle properties are not mandatory. They are only used when testing.

If you want to use the app, you have to use your [selfoss](https://selfoss.aditu.de/) instance, or install one. If you want help installing selfoss, you could ask for help on the [github page](https://github.com/SSilence/

[2018-06-18 13:13] aminecmi commented on #79
@anandkumarkparmar are you still working on the issue ?

[2018-06-20 06:15] aminecmi commented on #79
@anandkumarkparmar I removed the `Taken` status.

[2018-07-16 09:23] aminecmi commented on #3
[App available!](https://f-droid.org/fr/packages/apps.amine.bou.readerforselfoss/)

[2018-07-20 07:26] hsanson opened #208 "Add unmark read button to internal viewer."
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [ x Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

If we set the "Mark as read on swipe" option in the article viewer setting and we swipe over articles, these are marked as read, this is ok.

[2018-07-20 07:54] aminecmi commented on #208
This might be tricky, because the "read"  status is only set when swiping to the next item.

Thanks for the request !

[2018-07-20 08:42] hsanson commented on #208
Actually that is something I would like to see changed. The article should be marked read when it is loaded in the article viewer. This is the same as the Selfoss client does and would allow to implement a unmark read action that I find way more important for usability.

[2018-07-20 08:53] aminecmi commented on #208
@hsanson it was the case first, but I found myself accidentally going back to the previous activity and having to search for the article in the "all" tab.

Not really sure if I want to change this for now.

[2018-07-31 07:02] gpion commented on #3
Link not working on my phone (Galaxy S7, Oreo): F-Droid app launches and display an _"application not found"_ toast.
Anyway, Play Store version is OK. so not a big deal.

[2018-07-31 07:27] aminecmi commented on #3
@gpion [this is shared from the app](Reader for Selfoss (RSS reader for Selfoss) - https://f-droid.org/app/apps.amine.bou.readerforselfoss).

If it doesn't work, the issue comes from f-droid.

[2018-07-31 07:36] rEnr3n commented on #3
@gpion Works for me. You need to update your repo manually if you set `Automatic update interval` to `Never`.

[2018-07-31 07:47] gpion commented on #3
The problem was a conflict with the already installed Play Store version.
Everything's fine now

[2018-08-02 05:54] aminecmi opened #211 "Better handling of hidden tags."
### Description

https://github.com/aminecmi/ReaderforSelfoss/pull/207 was merged, but not finished.

See the comments for the feature to be really finished.

[2018-08-02 19:17] CodingSpiderFox commented on #40
Does this mean there is no filter feature at all at the moment? A brief description of the issue would be helpful ;)

I'm looking for an RSS reader for android which can automatically delete items with certain keywords and items having the same title as an item which was already retrieved before. (Some news portals publish articles to the main feed and also certain topic's feeds.

[2018-08-02 21:41] aminecmi commented on #211
Hidden tags should not be displayed as "normal" tags too, in the drawer.

[2018-08-03 18:49] #211 closed

[2018-08-09 07:15] gpion opened #215 "marl all read button missing (sometimes)"
### Description

From time to time the "mark all read" button is missing

### Steps to Reproduce

happens randomly

### Screenshots (optional)
![Main UI Screenshot](https://i.imgur.com/Hz2igzL.png)

### Device

- Device (manufacturer, model ...) Samsung S7
- OS Oreo, stock rom
- App version: I've been unable to locate "about" menu item on my version, but app is up to date according to Play Store.

[2018-08-11 15:35] aminecmi opened #216 "The app doesn't work with version 2.19 of selfoss"
There were changes on the api responses of for the 2.19 version.

The "tags" field of the item object changed from a string, to an array of strings.

Not sure how to handle this properly.

Maybe a converter that check the type and handle the type accordingly ?

[2018-09-09 17:46] #215 closed

[2018-09-09 18:40] #208 closed

[2018-09-10 18:28] aminecmi commented on #192
May be fixed.

[2018-09-10 20:01] aminecmi commented on #192
Not fixed

[2018-09-11 20:20] aminecmi opened #220 "Switch the hidden tags with the normal ones"

[2018-09-21 08:20] cpu2910 opened #221 "Mark 3 items as read when opening one"
### Prerequisites

* [x] Are you running the latest version?
* [ ] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [Wha

[2018-09-21 08:31] cpu2910 commented on #221
When I open one item to read it in the internal viewer, there are 3 items marked as read when I return to the list.
The message before and the one after the entry I chose is marked read.
![selfossreader-before](https://user-images.githubusercontent.com/30260653/45869745-85566100-bd89-11e8-821c-264ddb400b13.png)
![selfoss-reader-after](https://user-images.githubusercontent.com/30260653/45869749-898

[2018-09-21 08:32] cpu2910 commented on #221
Accidentally closed, soory...

[2018-09-21 08:56] cpu2910 commented on #221
Device: Nexus 5X (bullhead)
OS: LineageOS 15.1.20180917-microG-bullhead
Reader: Version 1618092581-github

[2018-09-21 19:39] #221 closed

[2018-09-29 01:25] FiSHYsolutions opened #223 "The app doesn't work with selfoss 2.14 & 2.18, and Fairphone 1 (Android 4.2.2)"
instead of formatted content, the app shows only parts of it's css source code (see screenshot below).

device: Fairphone 1 (Android 4.2.2)

server: same problem with selfoss 2.14 and 2.18

app: i have no idea which version is installed, because there is no info about that. but it's the current version from f-droid repository (29th sep 2018). the previous version is also affected (same behaviour).

[2018-09-29 06:54] aminecmi commented on #223
Hi,

You can see the app version by scrolling at the bottom of the lateral drawer and choosing the "About" item.

Thanks for the report. I'll look into it.

[2018-09-29 23:54] FiSHYsolutions commented on #223
nope, can't find something like an "about"-item. no scrolling possible. i can see the items "bugreport" and "preferences" but couldn't find version-informations there. i'm pretty sure we're talking about "Version 1618092681-github (1618092681) - Hinzugefügt am 2018-09-28", cause did an update (from f-droid) on september, 29th. but older (unknown) versions were also affected.

[2018-09-30 07:37] #223 closed

[2018-09-30 07:47] aminecmi commented on #223
@FiSHYsolutions the issue is solved. It will be available on f-droid when they build it.

You also can download it from https://jenkins.amine-bou.fr/job/ReaderForSelfoss/lastSuccessfulBuild/artifact/SignApksBuilder-out/selfoss-key/selfoss/app-githubConfig-release-unsigned.apk/app-githubConfig-release.apk when the build is finished, or wait for f-droid to build it (that may take some time)

Also, j

[2018-10-07 20:30] #83 closed

[2018-10-07 20:33] jtojnar commented on #179
Hopefully, the api from https://github.com/SSilence/selfoss/pull/1014 could be re-used.

[2018-10-07 20:37] aminecmi commented on #83
After all, the issue wasn't coming from selfoss **AT ALL**.

It was coming from Mercury...

[2018-10-09 19:41] FiSHYsolutions commented on #223
f-droid released your update. it works. great job. thank you so much.

[2018-10-09 19:43] aminecmi commented on #223
Great !

[2018-10-14 16:41] aminecmi commented on #1
The loaded articles aren't sorted in the right order.

[2018-10-16 06:59] GutHib opened #228 "Links not opening directly"
Hi,

I just upgraded to the newest version of the reader. Previously the links would open directly with a single click. Now, when i click on one of the items, i get some kind of toolbar instead. I looked into settings to see if this can be corrected, but when i scroll down, the last word i see is "actions" - the options to actually change these actions are missing.

Great app, thanks for all the h

[2018-10-16 11:33] aminecmi commented on #228
Hello,

There was previously an option to switch this behavior.

For now, you could change the displaying to card view, or long press on the article.

[2018-10-16 11:41] GutHib commented on #228
Card view works, thanks.

Just for reference, without the card view, theres another bug, as the toolbar appears to be popping up randomly in other entries as well when you return from the preview in the local browser.

[2018-10-17 09:00] cpu2910 opened #229 "Refreshing crashes the app"
Hi,
I just ugraded to newest version 1618102863 (F-Droid).
Strange behaviour by opening articles is cleared in #228

But refreshing the articles by swiping from the top constantly crashes the app.
Clearing cache, Reinstalling the app doesn't solve the problem.

In the settings only the header 'Actions' is shown, but no options underneath...

Nexus 5X, LineageOS 15.1-20181015 (Oreo 8.1.0)

regards

[2018-10-17 09:03] cpu2910 commented on #229
Upgrade: The crash while swiping from the top disappeared after switching to card view.
Only problem in settings, common stays.

[2018-10-17 17:37] aminecmi commented on #229
The issue is fixed and should be available at the same time as #1.

As I'm still testing it, it won't be available just yet.

If you want, you could download the apk from https://jenkins.amine-bou.fr/job/ReaderForSelfoss/lastSuccessfulBuild/artifact/SignApksBuilder-out/selfoss-key/selfoss/app-githubConfig-release-unsigned.apk/app-githubConfig-release.apk .
It's the alpha version (I'm using it dail

[2018-10-17 17:40] aminecmi commented on #229
I'll close this for now.

If you use the alpha APK, you're welcome to provide any useful feedback on #1.

[2018-10-17 17:40] #229 closed

[2018-10-17 17:46] #228 closed

[2018-10-17 17:48] aminecmi commented on #228
@GutHib this is fixed now.

Still, it won't be available just yet as I want it to come with #1 that I'm currently testing.

You'll be able to change back to the list view on the next update.

[2018-10-18 08:54] GutHib commented on #228
Awesome - thank you.

[2018-10-21 09:35] jtojnar commented on #179
Feel free to comment on the PR with your requirements.

[2018-10-21 09:41] aminecmi commented on #179
@jtojnar I didn't take a look at the PR yet. I was thinking that I would handle this locally as I still would need to make API calls.

[2018-10-22 07:55] aminecmi commented on #179
@jtojnar I did look at the PR. The `sync` route will be helpfull, and easier to user as I was thinking to do. Thanks for the link.

[2018-10-29 17:42] aminecmi opened #230 "Make the links inside the cardview clickable"

[2018-10-29 18:54] #192 closed

[2018-10-30 10:10] aminecmi commented on #230
This does work, but the textview will not propagate the click event if something else (not a link) is clicked.

[2018-10-30 16:42] aminecmi commented on #230
https://stackoverflow.com/questions/8558732/listview-textview-with-linkmovementmethod-makes-list-item-unclickable/14093635

[2018-10-31 19:14] #230 closed

[2018-11-01 18:20] aminecmi commented on #1
For now, the app will cache the last 200 (or less) new items.

[2018-11-01 18:20] #1 closed

[2018-11-01 20:12] #38 closed

[2018-11-03 17:49] #33 closed

[2018-11-03 17:52] aminecmi commented on #179
@jbfavre the first things you asked for are now in testing. They should be deployed to beta tomorrow or later this week if I dont see any big issues.

The read/unread status sync with the server isn't done yet, but everything related to #33 is done.

[2018-11-03 19:02] jbfavre commented on #179
@aminecmi thanks for the work !
I'll test this new version ASAP. But I guess I'll have to wait merge of SSilence/selfoss#1014 and the sync part to be able to fully test it

[2018-11-03 19:08] aminecmi commented on #179
@jbfavre You could test the first part sooner !

I'll still have to support older versions of selfoss and emulate the sync feature, so you'll be able to test the sync-ish one soon and use the real one when it's available for your selfoss instance.

[2018-11-03 22:18] jbfavre commented on #179
@aminecmi So, for now the offline mode is working but not the sync part, right ?
I'll test it as soon it's available, but does that means I'll have to mark items as read on both ReaderSelfoss & selfoss web app ?
If yes, I just hope the sync stuff will arrive soon :)

[2018-11-03 22:20] aminecmi commented on #179
@jbfavre that's exactly it. I'll be working on the sync part now, so it may arrive soon too !

[2018-11-04 13:37] #179 closed

[2018-11-04 13:38] aminecmi commented on #179
@jbfavre I'll close this issue because the "manual" sync is done. I'll open a new one with the selfoss call.

[2018-11-04 13:43] aminecmi opened #235 "Sync using the selfoss `sync` call."
See #179 for all the details.

Selfoss has a PR that make this easier: SSilence/selfoss#1014.

Change the current way of working: Try to call the `sync` route, and if it fails with a 404, do the "manual" way.

[2018-11-05 19:31] #216 closed

[2018-11-05 20:45] aminecmi opened #236 "Source adding issue with selfoss version 2.19"
There is still an issue related to #216

Adding a source have an issue since tags were changed to an array instead of a string.

Needs this SSilence/selfoss#1069

[2018-11-05 20:46] aminecmi commented on #235
May need this SSilence/selfoss#1069

[2018-11-06 19:29] #201 closed

[2018-11-07 08:49] aminecmi opened #238 "Slow network and loading"
On slow network, the app should not load indefinitely.

Add a quick shortcut to open the app on offline mode ?

Add a way to detect slow network ?

[2018-11-07 09:01] aminecmi opened #239 "Taping the notification should open the app."
The notification does not open the app, but is should.

[2018-11-07 16:44] aminecmi commented on #239
https://developer.android.com/training/notify-user/build-notification#click

[2018-11-07 16:45] aminecmi commented on #239
Maybe add a button to discard the notification ?

[2018-11-07 18:32] #239 closed

[2018-11-11 16:17] aminecmi commented on #120
Not relevant anymore.

[2018-11-11 16:17] #120 closed

[2018-11-13 14:56] aminecmi opened #244 "`Build.sh` automation"
It would be great if we could automate the build.sh from within jenkins.

What it needs to do is:
- Fetch the project
- Execute the build.sh script without deploying. Maybe add a variable for "today version".
- (optional) deploy manually and copy the version where it needs to be.

TODO:
- Todays version should be computed from the existing tags.
- Add a script that deploys locally with its own par

[2018-11-13 19:27] #244 closed

[2018-11-16 18:44] aminecmi commented on #172
Seems outdated.

[2018-11-16 18:44] #172 closed

[2018-11-16 18:46] #4 closed

[2018-11-16 18:48] #40 closed

[2018-11-16 18:48] #79 closed

[2018-11-18 22:34] JohnItoo commented on #238
Hi. I am looking to contribute to this project. Is this issue or any other issue ripe to be attended to?

[2018-11-18 23:33] aminecmi commented on #238
Hi @JohnItoo ,

You can take any issue labeled "Up For Grabs" or "Help Wanted".
Just make sure to post a comment on the issue so nobody start working on it.

Thanks for the help!

[2018-11-19 12:39] JohnItoo commented on #238
Okay. Let me start looking into this when i can

[2018-11-20 01:12] JohnItoo commented on #238
@aminecmi  I am having difficulties logging in.

[2018-11-20 05:55] aminecmi commented on #238
What's the issue?
Is there any logs on your selfless instance?

[2018-11-20 10:44] JohnItoo commented on #238
So i have built the project and deployed to a device. I cant get past the login screen.

[2018-11-20 12:47] aminecmi commented on #238
What's the error you are having ?

Le mar. 20 nov. 2018 à 11:44, John Ohue <notifications@github.com> a écrit :

[2018-11-23 11:41] anirudh8860 commented on #238
Can't we just check the network speed at that moment and put a timeout error if speed is slower than required?

[2018-11-23 12:03] feutl opened #248 "Article reader content font size not working as expected"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description
I tried to change the "Article reader content font size" from 14 to 8. Which indicates a very small font while changing it, but after opening

[2018-11-23 12:29] aminecmi commented on #238
@anirudh8860 The timeout bit is done.

The part that needs to be done is that when the network speed is low, turn the offline mode.

[2018-11-23 12:30] anirudh8860 commented on #238
I'll do it

[2018-11-23 13:07] aminecmi commented on #238
@anirudh8860 I think that @JohnItoo is already on it.

[2018-11-23 13:09] anirudh8860 commented on #238
Alright. Kudos to @Johnltoo if he would solve the issue.

[2018-11-23 13:13] aminecmi commented on #238
@anirudh8860 Don't hesitate to take any other issue.

[2018-11-23 13:14] anirudh8860 commented on #238
Sure

[2018-11-23 17:44] Binnette opened #249 "Use Vector Image instead of png"
Hi Amine,

Can I replace all png icons with vector images ?
png images are time consumming for maintenance and current icons have not the exact same size.

Here are screenshots showing that icons do not have the exact same pixel count:
![image](https://user-images.githubusercontent.com/6597721/48955528-ac2e4080-ef4e-11e8-8366-1bbea1085f5b.png)

![image](https://user-images.githubusercontent.com/65

[2018-11-23 18:11] aminecmi commented on #249
@Binnette Ok with me !

[2018-11-23 18:16] Binnette commented on #249
Here is another bug that i want to fix.

In dark theme, settings icon are mostly invisibles:
![image](https://user-images.githubusercontent.com/6597721/48956589-201f1780-ef54-11e8-97b0-df0443644d7c.png)

[2018-11-23 18:37] aminecmi commented on #249
@Binnette I imported them from Android Studio
<img width="267" alt="capture d ecran 2018-11-23 a 19 36 50" src="https://user-images.githubusercontent.com/510304/48957148-2ebafe00-ef57-11e8-95de-813377c2cd9f.png">

[2018-11-23 18:45] aminecmi commented on #249
These are material icons. They should be available from https://www.google.com/design/icons/

[2018-11-24 09:06] anirudh8860 commented on #248
I'll look into this

[2018-11-24 09:10] aminecmi commented on #248
Thanks @anirudh8860 !

[2018-11-24 09:49] anirudh8860 commented on #248
Hey @aminecmi its showing me String index out of range: -1 when building.

[2018-11-24 10:11] aminecmi commented on #248
Do you have a stacktrace maybe?

Did you follow the contribution file ?

Le sam. 24 nov. 2018 à 10:49, Anirudh <notifications@github.com> a écrit :

[2018-11-24 10:12] anirudh8860 commented on #248
2018-11-24 15:41:52,236 [ thread 11]   WARN - nal.AbstractExternalSystemTask - Could not get unknown property 'appLoginUrl' for BuildType_Decorated{name=debug, debuggable=true, testCoverageEnabled=false, jniDebuggable=false, pseudoLocalesEnabled=false, renderscriptDebuggable=false, renderscriptOptimLevel=3, minifyEnabled=false, zipAlignEnabled=true, signingConfig=SigningConfig_Decorated{name=debug

[2018-11-24 10:31] anirudh8860 commented on #248
Ok done

[2018-11-24 10:36] anirudh8860 commented on #248
@aminecmi can you send me a url for logging in

[2018-11-24 11:34] aminecmi commented on #248
You'll have to install a selfoss instance yourself.

I only have a personal one that I'll not share.

Le sam. 24 nov. 2018 à 11:36, Anirudh <notifications@github.com> a écrit :

[2018-11-26 13:15] aminecmi commented on #248
@anirudh8860 will you still work on the issue ?

[2018-11-26 13:15] aminecmi commented on #238
@JohnItoo are you still working on the issue ?

[2018-11-27 09:37] c64bob opened #251 "Allow Http Auth without a Selfoss User Account"
I would like to use Http Auth on my selfhosted selfoss instance, but since I am the only user, I don't want to configure a user account in selfoss. When adding my server to the app, it complains if I only configure Http Auth, without providing a selfoss username and password. This is implemented here:
https://github.com/aminecmi/ReaderforSelfoss/blob/1d9a440ae7ce887f074e134867e244de03864b27/app/sr

[2018-11-27 09:51] aminecmi commented on #251
Hi @c64bob,
It's a code bug. You should be able to connect via HTTP only.
I'll correct this today.
The update should be available a few hours after.

[2018-11-27 10:35] aminecmi commented on #238
@JohnItoo I'll assume you are not.

[2018-11-27 10:35] aminecmi commented on #248
@anirudh8860 I'll assume you are not.

[2018-11-27 19:03] #251 closed

[2018-11-27 19:03] aminecmi commented on #251
@c64bob Done !

It'll be available in a few hours or tomorrow.

[2018-11-27 20:31] aminecmi commented on #251
@c64bob should be available in a couple of hours. It's deployed on the play store.

[2018-11-27 20:46] aminecmi commented on #248
@feutl This should be fixed in the next version.

[2018-11-28 12:22] aminecmi commented on #248
After some testing. It turns out that the changes reopened #174.
I'll have to look into this.

[2018-11-28 20:03] #174 closed

[2018-11-28 20:03] #248 closed

[2018-11-28 20:45] aminecmi commented on #248
@feutl done and deployed.

[2018-12-05 08:36] quite opened #257 "reader style"
The bultin reader uses "justify" on paragraphs (it has an even right margin). I would be grateful if this could be tweaked, turned off. I find that it does't really increase readability. Thoughts?

[2018-12-05 08:48] aminecmi commented on #257
Hi @quite,
What would be the tweaks you would want to see in the reader style ?

[2018-12-05 09:48] quite commented on #257
Sorry for not being clear. I just think the "justify" style on the paragraphs is needless. In inline-css, I guess it's: `<p style="align: justify">`

[2018-12-05 10:49] aminecmi commented on #257
Understood.

I'll try to add an option for this.

[2018-12-09 15:38] #257 closed

[2018-12-09 15:39] aminecmi commented on #257
@quite Done !
Should be available soon.

[2018-12-09 18:37] aminecmi commented on #257
@licaon-kter I'm currently deploying a version. You can remove the prebuild from the f-droid metadata.

[2018-12-09 19:42] aminecmi commented on #257
Which release are you talking about? The play store one that I have control on, or the fdroid ?

Now, the version changed so the fdroid builder will have the new version when it runs.

I'll deploy it to the play store production in a few hours or tomorrow.

[2018-12-09 19:47] licaon-kter commented on #257
@aminecmi Github release of course.

[2018-12-09 19:49] aminecmi commented on #257
@licaon-kter well the release was created and is available for build.

[2018-12-09 20:41] aminecmi commented on #257
@licaon-kter Yep that's the one.

[2018-12-09 20:58] licaon-kter commented on #257
https://gitlab.com/fdroid/fdroiddata/commit/c63b0c63c5fc9e4560280f506ffcc90473c6c412 ;)

[2018-12-09 20:59] aminecmi commented on #257
Great! Thanks!

[2018-12-10 18:30] aminecmi commented on #249
@Binnette I started using vectors in the new commits. (see #257)

I added them to the `any-dpi` folder.

[2018-12-11 09:41] aminecmi opened #259 "Clean the removed (untranslated) languages from crowdin."
Some languages were at 0% translation on crowdin.

I deleted them (will add any of them if requested), but now we need to delete all the created files created for these languages.

[2018-12-12 12:05] feutl commented on #248
sorry for the late responst, but this seems to work right now.
thanks.
can be closed :)

[2018-12-13 00:22] mtarnawsky opened #261 "Customize text display"
I've been trying out the app today - I'm finding it a little bit hard to read, though.  The text feels very tightly bunched together, both horizontally and vertically.

One of the nice things I can do on  various e-reader apps is to choose font, font size, and line spacing.  If it was possible to do something similar with this app, it would make it look so much more appealing and easier to read.

[2018-12-13 05:37] aminecmi commented on #261
Hi, thanks for the feature request.

The app has one of the requested things you asked for: the font size changing in the settings.

I'll do the remaining things.

What would be the font you would want to see/choose from ?

[2018-12-13 07:43] #259 closed

[2018-12-13 16:57] mtarnawsky commented on #261
Thanks.  Roboto and Google Sans would be handy, and given that they're Google fonts, should hopefully be available on modern Android devices.

[2018-12-13 20:41] Binnette commented on #249
Nice, feel free to pick any vector from my fork.
It works nicely on Android 6.0, but i do not test it on others Android versions.

[2018-12-14 21:35] aminecmi commented on #257
@quite it is.
You should have a new icon on the top right of the article viewer.
![screenshot_1544823308](https://user-images.githubusercontent.com/510304/50028606-8b5a8780-fff0-11e8-8273-17788a13a16a.png)

[2018-12-14 21:42] aminecmi commented on #261
@mtarnawsky this isn't going well...

Here is the result for now
![screenshot_1544823308](https://user-images.githubusercontent.com/510304/50028880-60bcfe80-fff1-11e8-9741-39c1f2c09632.png)

As I'm using a webview to display the content of the article, there does not seem to be a simple/working way to change the font. I'll see what I can do.

[2018-12-15 10:08] quite commented on #257
Ah thanks! :)

[2018-12-21 18:49] aminecmi opened #263 "Keep the scroll position when changing orientation."
"Just one annoying bug: when going thru the feeds and having " mark as read" if the phone change from upright to landscape, the articles are reset back to the first article read. Then its necessary to fo back to the list view and start where you left of when the phone flipped..."

[2018-12-22 23:59] mtarnawsky commented on #261
Thanks for giving it a go - appreciated even if you ran into some issues!

[2018-12-23 14:09] aminecmi commented on #261
@mtarnawsky I'll still try, but if I can't update the webview font, there is no need to have any other part of the app to be customizable. I'll keep you posted.

[2018-12-23 14:11] aminecmi commented on #263
Done, but the layout manager does not change. Not liking the result. I'll try to find something else.

[2018-12-28 10:17] phxql opened #264 "Hide tags with 0 articles"
Hi,

first I'd like to thank you for your work.

I propose a feature: in the main screen, when opening the drawer on the left, there is the list of tags. Even the tags which have 0 articles in it appear in this list, with the same badge color as tags which have articles in it.

It would be great if the either the tags with 0 articles are hidden or if the badge is removed or gets a different color.

[2019-01-02 20:21] #264 closed

[2019-01-02 21:21] aminecmi commented on #264
Should be available in a couple of hours.

[2019-01-04 23:11] c64bob opened #266 "favicons not working with basic auth"
Favicons are not being displayed when I am using basic auth with my selfoss instance (just basic auth, no selfoss username/password). I see lots of 401 answers in my nginx log with no authentication. Is there a chance you could add the basic auth info to the favicons requests as well?

[2019-01-05 20:47] #266 closed

[2019-01-06 15:03] aminecmi commented on #266
@c64bob this should be deployed.

[2019-01-06 15:06] c64bob commented on #266
Thank you, that was super fast! Will test in a couple of days

[2019-01-06 15:11] aminecmi commented on #263
For now, this will be low priority.

The `HomeActivity` would have to change, and I don't have that much time to focus on the issue.

What I did was disable the activity reloading on orientation change (not sure if it was the right thing to do [see here](https://stackoverflow.com/questions/7818717/why-not-use-always-androidconfigchanges-keyboardhiddenorientation/7990543#7990543)), but that was cau

[2019-01-06 15:43] aminecmi commented on #261
@mtarnawsky I'm working on a workaround. The webview will use css fonts.

It's the only thing that is working.

This should be in beta soon, and I'll try to let it like this for a while before pushing it to production build.

[2019-01-06 17:18] aminecmi commented on #261
The font is done. The font size was available, and I just raised the line height for now. If you want the ability to change it, please open another issue.

[2019-01-06 17:18] #261 closed

[2019-01-08 10:52] herrxyz opened #269 "[feature request] mark as read/unread in list-view"
### Prerequisites

* [x] Are you running the latest version? google playstore, 5th Jan 2019
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

I would really love the possibility to mark articles as "unread" - if possible both in article list and [dire

[2019-01-08 11:54] phxql opened #270 "Self signed certificat issue when swiping to mark as read."
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

As far as i know, there is no possibility to mark a single article as read - only a button to mark all articles as read. What do you think about adding a button to mark a single article

[2019-01-08 11:57] phxql opened #271 "Marking all articles as read doesn't update count badge in left drawer"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Steps to Reproduce

1. view articles in list view for a tag
2. click on the "Mark all as read"
3. open left drawer

**Expected behavior:**

Badge with count for that tag disappears

**Actual behavior

[2019-01-08 12:09] aminecmi commented on #269
@herrxyz thanks for the feature request.

You can mark items as read from the article itself.

I can add the ability to mark an article as unread from the list view (like you can mark as read)

[2019-01-08 12:10] aminecmi commented on #270
@phxql thanks for the feature request.

Actually, you can. You can swipe items to mark them as read.

It this the feature you are looking for ?

[2019-01-08 12:11] aminecmi commented on #271
Thanks for the feature request !

This will be fixed soon.

[2019-01-08 15:15] phxql commented on #270
I have opened a tag which contain 1 article. Neither swiping right nor left works. Am I missing a setting somewhere?

[2019-01-08 15:34] aminecmi commented on #270
@phxql you can swipe items on either sides, either with a selected tag or source or not, but only on the "unread" tab.

#269 should let you mark them on the "All" tab too.

[2019-01-08 15:40] phxql commented on #270
Ah, i get it - i can swipe the article in the list view. I tried to swipe it in the article view! Thanks for clarification.

[2019-01-08 15:42] aminecmi commented on #270
@phxql you can mark them as read too when viewing them in the article viewer, and in that case, there is a setting you need to enable that is in Settings > Article Viewer > Mark as read on swipe (or something like this)

[2019-01-08 17:20] phxql commented on #270
I found that setting, but this doesn't work on articles which are in a tag with 1 article, as you can't swipe left or right.

[2019-01-08 18:20] aminecmi commented on #270
@phxql Weird. It actually works for me.

What version of the app are you running ? On what device ?

[2019-01-09 12:35] aminecmi opened #272 "Re enable resources shrinking."
After #262 (cc @Binnette ) I had to disable [resources shrinking.](https://developer.android.com/studio/build/shrink-code#strict-reference-checks).

Light icons (for dark theme) were deleted when building the apk, and that was causing crashes.

[2019-01-09 13:07] #249 closed

[2019-01-09 15:15] phxql commented on #270
1. find a tag with 1 article in it
2. click on the article so that it opens in the article viewer (there is one white dot displayed at the top)
3. try swiping left or right
4. nothing happens ("Mark as read on swipe" is switched on in the settings)

App version is 1719010051-store, Phone is a OnePlus 5T with Android 9.

[2019-01-09 15:36] aminecmi commented on #270
@phxql I can't reproduce your issue. [Here is what happens for me](https://drive.google.com/file/d/1q4nc_hACixiGgx9Yf8uVaAV36BRd2BJe/view?usp=sharing).

You should be able to do it. As you can see on my video. That's what should happen.

Can you share a screen capture of what happens for you ?

[2019-01-12 18:36] aminecmi commented on #269
Deployed to production.

[2019-01-12 18:36] aminecmi commented on #261
@mtarnawsky deployed to production.

[2019-01-12 18:43] aminecmi commented on #272
<img width="775" alt="capture d ecran 2019-01-12 a 19 37 53" src="https://user-images.githubusercontent.com/510304/51077103-f35cc600-16a1-11e9-9f4b-4c2a75bd67dc.png">

The apk size didn't change a lot after disabling shrinking.

Maybe add some prefix to the settings icons and enable it again ?

[2019-01-13 12:41] mtarnawsky commented on #261
@aminecmi : Just tried it out - looks much better. Thanks!

[2019-01-13 14:59] #271 closed

[2019-01-13 18:08] aminecmi commented on #271
@phxql deployed to production.

[2019-01-14 18:28] phxql opened #275 "App crashes every time i open an article"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?

### Description

Open any article, and the app crashes. The "report bug to developer" window opens, i click okay - no idea if you ever got any report, the app just closes without any confirmation.

### S

[2019-01-14 18:44] aminecmi commented on #275
Hi @phxql ,

There seems to be an issue with fonts loading for you, maybe something blocking the font downloading.
For now I pushed a fix for your issue that should be available in a couple of hours.

[2019-01-14 18:46] phxql commented on #275
Thanks!

[2019-01-14 18:50] aminecmi commented on #270
@phxql Any news on the issue.

Just trie it, and can't reproduce it at all.

[2019-01-14 18:51] phxql commented on #270
I can't reproduce it, because the app crashes when opening an article. After i got the update which fixes this, i'll try again with debug logging. Should i paste the debug id here?

[2019-01-14 18:53] aminecmi commented on #270
@phxql Ok !

Yes you can past the debug id here when you can.

[2019-01-14 19:35] aminecmi commented on #275
Deployed. Will be available soon.

[2019-01-14 19:35] #275 closed

[2019-01-14 19:38] #43 closed

[2019-01-15 09:37] phxql commented on #270
I just enabled both settings and swiped two articles. Debug id is 7c7e6eef-928a-4b66-b984-c1197efbd978

[2019-01-15 09:43] aminecmi commented on #270
Thanks.

Are you using a self signed certificate ?

This seems to be the error:
[code]

[2019-01-15 14:38] phxql commented on #270
Yes, i use a self-signed certificate. This hasn't been a problem before, fetching articles and mark them manually as read works for example.

[2019-01-15 14:40] aminecmi commented on #270
@phxql Ok, I'll look into this. This may take some time because I'll have to install a new instance, and configure a self-signed cert.

[2019-01-15 17:49] phxql commented on #270
If you want, i'll set something up. I already have all the self-signed cert stuff in place.

[2019-01-15 18:46] aminecmi commented on #270
@phxql that would be super useful.

[2019-01-15 18:52] aminecmi commented on #270
@phxql in fact, I don't think it will be after all.

I found the issue. It's a bug that I solved. Again, it should be available in 2 or 3 hours.

[2019-01-15 18:54] #270 closed

[2019-01-15 21:36] aminecmi commented on #270
@phxql finally deployed to production!

[2019-01-15 21:40] aminecmi opened #276 "Find the keystore password"
As I only sign the app with Jenkins, I can't seem to remember the keystore password.

If my Jenkins server has any issue, I won't be able to update the app on the play store anymore.

[2019-01-16 06:37] phxql commented on #270
It works, thanks a lot for your work!

[2019-01-16 06:48] aminecmi commented on #270
No problem at all.

Thanks for taking the time to report the issue.

[2019-01-22 18:13] aminecmi opened #277 "App reloads when sharing from the HomeActivity"
When sharing an article from the homeactivity, the whole list reloads.

This is pretty frustrating and confusing.

[2019-01-23 10:00] aminecmi opened #278 "Font loading issue"
For some reason, font won't load on some devices.

The resource ID is wrong, and an exception is thrown.

Maybe display some dialog that warn the user that if the font is wrong, there is something blocking the font download ? (but display it once)

[code]

[2019-01-25 08:40] phxql opened #279 "Feature Request: Sort unread tags to top / hide tags with 0 articles"
Hi,

i have another feature suggestion, maybe toggable in the settings:

when I open the left drawer which shows the tags (and i have a lot of tags), i have to scroll the tag list to find the tags with unread articles. It would be great if the tags with unread articles would be sorted on top (or just hide the tags with no unread articles). That way i won't have to scroll through the tab list.

Wha

[2019-01-27 12:59] #279 closed

[2019-01-28 09:38] phxql commented on #279
Thanks a lot!

[2019-01-28 09:40] aminecmi commented on #279
Keep them coming !

[2019-01-30 18:11] aminecmi opened #281 "Remove the timeout log"
There is no need to always log the timeout errors.

Find a way to intercept retrofit timeout errors and don't log them.

[2019-03-12 18:05] toyqiu opened #282 "The top bar occupying too much space"
### Prerequisites

* [yes] Are you running the latest version?
* [yes] Did you check for an existing issue ?
* [yes] Are you reporting to the correct repository?
* [yes] Did you perform a cursory search?
* [yes] Did you read the `CONTRIBUTING` guide ?

### Description

[Description of the bug or feature]
The top bar occupying too much space
I think the top bar could be less high or hidden when at

[2019-03-16 16:11] aminecmi commented on #282
Hi @toyqiu

Do you have any screenshot ?

[2019-03-17 10:18] toyqiu commented on #282
![Screenshot_20190317-180648_Reader for Selfoss](https://user-images.githubusercontent.com/479873/54488741-6839bf80-48e0-11e9-9c60-3d9e0423439a.jpg)
the green top bar

And I don't know why the article part became black background since a week agon.
Nothing has been changed in setting,it's totally normal since I've been using it for about one year.
And I've tried uninstalling the app and reinstalli

[2019-03-17 10:23] aminecmi commented on #282
@toyqiu the top bar size is standard. It should be kept as it contains actions.

What I could try to do, is to hide it on scroll.

Concerning your other issue, this is likely related to an update of your browser or webview component. Could you please try using a dark theme to solve this, and get back to me ?

[2019-03-17 10:34] toyqiu commented on #282
![Screenshot_20190317-182758_Reader for Selfoss](https://user-images.githubusercontent.com/479873/54488981-9d471180-48e2-11e9-9977-5ecd99d0a49f.jpg)

Yes,hiding it on scroll is great!
Using a dark theme makes the words readable.
Any possible could you fix it? the article part still feels strange.
Thank you very much for responding!

[2019-03-25 08:30] lapete opened #283 ""Mark all read" only works once for each app start"
Somehow related to #192  ?

### Description

When I open the app, I can only use the "mark all read" button in the top right corner once (e.g. for a specific tag or source). After that, it won't work for another tag or source, I have to restart the app in order to get it working again (once).

### Steps to Reproduce

1. Open the app "fresh" (terminate if already running)
2. Go to a source with unr

[2019-03-29 15:02] aminecmi commented on #282
@toyqiu I'm seeing the dark background issue now.

As I can reproduce it, it'll be easier for me to fix it.

[2019-04-04 07:38] candardo opened #284 "app marked as {OUTDATED} on Play store"
The app stopped receiving updates so I checked the Play Store where I read: {OUTDATED} RSS Reader for Selfoss (Beta). What's wrong? Is the app discontinued?

App version is 1719010271-store from 27 jan 19. I'm running Android Pie on a Nokia 6.1 phone.

![Screenshot_20190404-092844_1](https://user-images.githubusercontent.com/6369278/55537801-48b2dd00-56bd-11e9-9b5a-93f81cd98d45.png)

[2019-04-04 07:47] candardo opened #285 "Chrome Webview is messing up test displaying."
I've been using the App for quite some time and the article viewer was just fine. Not I always get a black background (its colour was gray with the dark theme) but most important text gest messed up on longer articles. When scrolling text get more messed and parts that were readable (the first part of a post) become messed up too (see screenshot).

I'm running the beta version 1719010271-store on

[2019-04-04 08:01] aminecmi commented on #284
@candardo the app is still in development. I just don't have that much time for now.

The outdated tag just means that the app was removed from the app store.

[2019-04-04 08:17] aminecmi commented on #285
Thanks for the report.

It was already reported in #282 but I'll keep this one as reference.

[2019-04-05 20:32] candardo commented on #285
Some more infos:

- sometimes I get black background and sometimes gray (ok with a dark theme) even from the same feed. No clues about this behaviour!
- text gets garbled only if I scroll (fast). when reading an article scrolling it slowly text is fine
- scrolling up fast I get garbled text even on paragraphs the were fine before

[2019-04-06 10:05] #284 closed

[2019-04-06 10:52] aminecmi commented on #285
@candardo the dark background is fixed !

Still trying to reproduce the text issue.

[2019-04-06 12:10] aminecmi commented on #285
@candardo reproduced the bug, but I can't find a solution for now.

I pushed an update to the fdroid store, it should be available soon.

[2019-04-06 12:11] aminecmi commented on #285
I found some kind of workaround where you select the text to see it not grabled. Still searching.

[2019-04-06 12:30] candardo commented on #284
May I ask why? I'm all for FOSS but you Play has a much broader reach.

[2019-04-06 13:33] aminecmi commented on #284
@candardo there is a better reach, of course, and my only purpose is to share the app that was useful for me.

As I am currently having less time to work on the app, I couldn't lose time with the play store deployment process. I lost so much time trying to speed up the process using CI tools. I lost time when the tools didn't work anymore too.

There's also the 1 star reviews that have no other ef

[2019-04-06 20:20] candardo commented on #284
I'm sorry to hear that. For what is worth I think that your app was very good - simple enough yet polished and well designed - and easily the best one for Selfoss. Also I didn't know about the extra work required to be on the Play store.
I'll try the last version from F-Droid.

[2019-04-13 12:53] lapete commented on #283
This does not longer happen since a while, maybe solved as a side effect from another update.

[2019-04-14 09:53] aminecmi commented on #283
Ok, thanks. Closing this then.

[2019-04-14 09:53] #283 closed

[2019-04-19 19:31] shaneonabike commented on #285
It's fairly tragic I am also experiencing this. This only just started happening in the last couple of months. If there is anyway I can debug this for you I am more than happy. It makes this pretty difficult to use. For what it's worth it's happening on FullTextRss (setting) and here is an example RSS https://rss.cbc.ca/lineup/topstories.xml

[2019-05-12 19:47] aminecmi commented on #285
@candardo @shaneonabike sorry for the long wait.

Is the issue still present ?

I'm not able to reproduce it since a couple of weeks.

If you still see it, could you provide me with the item, the source, the spout, and the icon size set in the settings page ?

Thanks for the help.

[2019-05-13 17:29] shaneonabike commented on #285
https://rss.cbc.ca/lineup/topstories.xml creates the black issue. The text is just fine but I can't read anything unfortunately.

[2019-05-13 17:36] aminecmi commented on #285
@shaneonabike the black issue is fixed and should be available in the next f-droid update.

[2019-05-13 17:39] shaneonabike commented on #285
When will you update the f-droid release?

[2019-05-13 17:44] aminecmi commented on #285
I can't control anything on fdroid side. The code is available, and the fdroid services will update the app the next time it's built. This could take up to a week.

[2019-05-16 16:55] aminecmi commented on #285
@shaneonabike just had the update.

[2019-05-17 06:11] Ezwen opened #286 "Crash on start since last release"
### Description

Since the last update, when I tap on the app to start it, it instantly crashes.

### Steps to Reproduce

1. Install/update the app to 1719051321
2. Start the app from the launcher

**Expected behavior:** the app should start

**Actual behavior:** the app starts to load (I can see the splash screen with the icon), then crashes without any warning or error message.

### Device

- De

[2019-05-17 06:18] aminecmi commented on #286
Thanks for the report.

I'll take of it tonight.

[2019-05-17 14:32] shaneonabike commented on #285
Yeah unfortunately now seems to be crashing everytime I launch the app :/

[2019-05-17 14:35] aminecmi commented on #285
@shaneonabike yep #286 is tracking this issue. I'll provide an apk as soon as I fix it so you'll be able to use the app until fdroid update is available;.

[2019-05-17 14:37] shaneonabike commented on #286
Mine seems to crash as it is fetching new news. I'm on an LG Android

[2019-05-17 18:33] aminecmi commented on #286
@Ezwen @shaneonabike The issue should be fixed with this [apk](https://github.com/aminecmi/ReaderforSelfoss/releases/download/v1719051372/app-githubConfig-release.apk).
You may need to reinstall the app and reconfigure it since it will be another signing key as the selfoss one.

[2019-05-17 18:37] aminecmi commented on #286
Sorry about that !

[2019-05-17 18:37] #286 closed

[2019-05-20 15:00] Ezwen commented on #286
No problem, thanks for the quick fix and for the app :)

[2019-05-20 15:02] aminecmi commented on #286
@Ezwen Thank **you** for the report.

[2019-05-23 12:16] shaneonabike commented on #286
Woooooo hooo it's been fixed hooray!

[2019-05-23 12:17] shaneonabike commented on #285
I can confirm that this has been resolved and you can close the ticket! Thanks for your awesome app and work!

[2019-05-23 12:21] aminecmi commented on #285
@shaneonabike did you receive the fdroid update or did you download the apk ?

[2019-05-23 12:24] shaneonabike commented on #285
I always test with the fdroid so in the latest there all is well

[2019-06-09 13:43] aminecmi commented on #285
@candardo did the original issue get resolved ?

[2019-06-09 16:17] candardo commented on #285
Sorry for not replying before. I removed fdroid shortly after trying the
app when the issue was opened. I don't plan to use fdroid right now and I'm
using selfoss right from the browser.

Il dom 9 giu 2019, 15:43 Amine Bou <notifications@github.com> ha scritto:

[2019-06-09 16:25] aminecmi commented on #285
Ok, I'll close the issue then.

[2019-06-19 17:40] Offerel opened #287 "Listview doesn't fit"
It seems that the listview doesn't fit correctly. ![](https://i.imgur.com/ggui09V.jpg)

I have added a screenshot, ti give you a small idea what i mean. The text is cut off.

[2019-06-19 19:59] aminecmi commented on #287
@Offerel thanks for the report.

I'll take a look at this.

In the meantime, you can use the card view that has no issue at all.

[2019-06-19 20:04] Offerel commented on #287
Not a real big issue for me. I use Selfoss now since 4h for the first time. If i find more, i will report it. I like the project really. I have tried tt-rss and I'm really surprised how fast selfoss is, compared to tt-rss on a raspberry pi. I work as a softwaretester, so i think i will found the one or other issue and report it. Hopefully a little bit more detailed as in this first example.

[2019-06-19 20:05] aminecmi commented on #287
@Offerel No problem at all.

It helps a lot having people report issues !

[2019-06-30 19:34] Offerel opened #288 "[FR] Display image instead of favicon in list/cardview"
I would like to ask, if it possible to display a article picture, instead of the favicon in the ListView?

[2019-06-30 19:38] aminecmi commented on #288
Hello,

In the list view, an image is displayed if it's available. If it's not, the source icon is displayed.

If there is no image displayed, you may want to check the selfoss spout settings.

[2019-07-01 06:15] aminecmi commented on #288
I'll close this because it's already works like this.

Don't hesitate to submit new issues or feature requests.

[2019-07-01 06:15] #288 closed

[2019-07-01 08:47] Offerel commented on #288
Sorry. But i think in that case, it's a bug. Since I'm still testing different clients and possibilities to switch from Inoreader to something self-hosted, I installed another Selfoss app fr.ydelouis.selfoss at the same time. For the same source the pictures in the article list are shown in this app. In apps.amine.bou.readerforselfoss only the favicons are shown. Same sources, same URL, same crede

[2019-07-01 08:51] aminecmi commented on #288
Maybe the other app fetches the image from the article content.

Mine does display the image sent by selfoss.

For any item, you could see yourself if there is one displayed on the web version. If not, then I don't display one either.

[2019-07-01 09:02] Offerel commented on #288
I understand. If I'm at the web, a image is displayed. But the source of the image is a external URL (i assume provided by the feed or the feed article), not the domain of my Selfoss instance. Since I'm testing, i use temporary only a SQLite DB (will switch later to MariaDB). Is there some way, to configure the feeds that way, to retrieve also the images in the feed and deliver them from my own se

[2019-07-01 09:25] aminecmi commented on #288
@Offerel these issues are not related to the app.

If you have a question with Selfoss itself, you should ask them [here](https://github.com/SSilence/selfoss)

[2019-07-01 17:05] jonnyair commented on #285
Hi,
I hope it's okay that i comment on an already closed issue, but i have similar problems, see attached images
![Screenshot_20190701-185306](https://user-images.githubusercontent.com/803229/60453926-cfcb0f00-9c32-11e9-9f91-c5c643517c1f.jpg)
![Screenshot_20190701-185222](https://user-images.githubusercontent.com/803229/60453927-cfcb0f00-9c32-11e9-950e-9483a386d043.jpg)
in both cases text overlays

[2019-07-01 20:32] aminecmi commented on #285
Hi, thanks for the report.

I was able to reproduce the issue one time only, and never really had a chance to fix it.

Could you give me more details about your phone, your Android version, the app version and "Android system Webview" app version please?

[2019-07-01 20:36] jonnyair commented on #285
sure thing!
Phone: OnePlus 5t
OS: OxygenOS 9.0.6 (Android 9  with May 2019 Patchlevel)
WebView: Chrome 75.0.3770.101 (selected)
Android System Webview: 68.0.340.91 (disabled)

[2019-07-01 20:41] aminecmi commented on #285
Could you try to update your Android system Webview app ?

I have a different version, it may be related to this

![Screenshot_20190701-222905](https://user-images.githubusercontent.com/510304/60465425-57c01180-9c51-11e9-971d-6641b1a31cab.jpg)

[2019-07-01 21:42] jonnyair commented on #285
i just installed the latest stable version from apkmirror but the version didn't change - and it's still disabled in the settings (and in play store). chrome is selected.
i googled a bit and found this article https://www.androidpolice.com/2016/07/20/google-explains-chrome-will-become-webview-android-7-0/

or do you have an idea how to enable/activate system webview?

[2019-07-02 04:13] aminecmi commented on #285
Not really sorry.

I'm not using chrome on my phone and it's disabled. Maybe it's the reason I only have the system Webview ?

If it's not too much of a hassle could you try disabling chrome and testing again?

[2019-07-02 09:00] jonnyair commented on #285
yeah, that's what i checked when i wrote that the system webview ist disabled, see attached screenshot:
![Screenshot_20190702-105824__01](https://user-images.githubusercontent.com/803229/60499314-7dcccc80-9cb8-11e9-9430-76e2b3de1a2f.jpg)
it's disabled and can't be selected, it's also disabled in playstore and in the app-list (settings -> apps), i can't enable it anywhere.

[2019-07-02 09:02] aminecmi commented on #285
Maybe you could try disabling chrome ?

I have it disabled and the default System app is enabled in my settings.

[2019-07-06 12:33] aminecmi commented on #285
@jonnyair any news on this ?

[2019-07-08 16:17] jonnyair commented on #285
Hi,
Sorry i was a bit busy the last few days, but i had a few minutes at hand right now so i disabled Chrome and afterwards  ReaderforSelfoss wasn't able to start, i went into the Play Store and was able to upgrade the WebView app to the latest version (78), after that everything seemed to be working!
Now i need chrome - so i enabled it again but Google in all his wisdom desided to revert the Andr

[2019-07-08 16:25] aminecmi commented on #285
From my understanding, the chrome version is an old/bugged version, so the in-app reader will be bugged. You may want to disable the in app reader to solve your issue. I can't do anything about this as the Webview renderer choosen by the system.

[2019-07-08 17:33] jonnyair commented on #285
actually - it's the other way around: the system WebView is old, Chrome is new (since Android 7):
https://developer.android.com/about/versions/nougat/android-7.0#chrome-+-webview,-together

[2019-07-08 17:39] aminecmi commented on #285
The version is set to an old one when chrome is installed. When it's not, it's the same as the chrome one, still, the system one works as intended.

Chrome app is messing with things.

Could you try to use a newer version of chrome (dev/canary) and change the rendering thing in the settings to see if the issue is solved ?

[2019-07-08 20:14] jonnyair commented on #285
nice idea - but didn't work unfortunately.
I think, that ReaderforSelfoss still uses the old WebView and NOT the selected one (Chrome, Chrome Beta or Chrome Dev), if that makes sense?

[2019-07-09 11:09] aminecmi commented on #285
The app uses a Webview ([here](https://github.com/aminecmi/ReaderforSelfoss/blob/master/app/src/main/res/layout/fragment_article.xml#L58)) to display the article content as it's html.

The app itself DO NOT specify anything to choose a webview renderer and according to [this](https://developer.android.com/about/versions/nougat/android-7.0.html#webview) Chrome is used by default (if enabled) since

[2019-08-21 02:34] gunr2171 opened #290 "App's back button within a sub-menu of Settings exits the Settings"
### Prerequisites

* [x] Are you running the latest version?
  I am running 1719051372-github, installed through F-Droid
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
  I sure hope so.
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?
  Seeing this is low-priority, I'll try not to bump this.

### Description

When

[2019-08-22 17:44] aminecmi commented on #290
Hi @gunr2171

Thanks a LOT for the specific bug report.

I'll look into this !

[2019-10-05 06:58] hector2 commented on #281
Can i do this?

[2019-10-05 06:59] aminecmi commented on #281
@hector2 go ahead !

[2019-10-06 09:45] hector2 commented on #281
hey @aminecmi can you give me an example in which this timeout error occurs? I tried shutting down my selfoss instance and then trying to refresh the sources, and it showed a toast with "The update didn't work, try again later, or check your selfoss logs"

[2019-10-06 09:48] aminecmi commented on #281
@hector2 the issue is that Acra (the bug tracker) was sending a lot of errors because of the timeout.

If you want to test it, in the experimental settings, you could try to configure your timeout to 1 second and make any call, this should log a lot of things, including acra trying to send the logs.

[2019-10-06 10:08] hector2 commented on #281
@aminecmi ok i'll try that thx! I was thinking about implementing our own http HttpLoggingInterceptor so wen can control better what errors to log. What do you think?

[2019-10-06 10:10] aminecmi commented on #281
@hector2 I think that's what I tried. But yeah, I don't see another way to do so :)

[2019-10-07 18:11] MimaIsAwesome commented on #178
Hello, i would like to work on this issue. Can you assign me please?

[2019-10-07 19:10] aminecmi commented on #178
@MimaIsAwesome  go ahead. I'll mark the issue as taken.

[2019-10-08 02:13] MimaIsAwesome commented on #178
Thanks im on it. :)

[2019-10-17 13:01] MimaIsAwesome commented on #178
Hello i am struggling with connection problems with JitPack, so i cant run android.
Am i doing something wrong or are you aware of what is happening?

![image](https://user-images.githubusercontent.com/56257072/67010949-f41dff00-f0ee-11e9-85a9-2b7684fcc44d.png)

[2019-10-17 13:04] aminecmi commented on #178
@MimaIsAwesome why would you need to connect to JitPack ?

I never had to, so I have no idea how to solve this, or even why you would need it.

[2019-10-17 13:06] MimaIsAwesome commented on #178
in build.gradle you have maven url of this page with comment "//For likebutton only"

[2019-10-17 13:07] aminecmi commented on #178
@MimaIsAwesome This should build without you needing to do anything.

Isn't it the case ?

[2019-10-17 13:30] MimaIsAwesome commented on #178
i followed the instructions for download and installation of the project, but it seems this url have an issue to connect as a picture above, im getting this error and i dont know if the origin page have some issue (because if i just put url in browser it gives a page as an picture above) or im building it somehow wrong?

![image](https://user-images.githubusercontent.com/56257072/67012988-a5726400

[2019-10-17 13:36] aminecmi commented on #178
Maybe try [this](https://github.com/jitpack/jitpack.io/issues/3973) ?

[2019-10-17 13:38] MimaIsAwesome commented on #178
ye thank you, it is maybe temporary

[2019-10-17 13:44] MimaIsAwesome commented on #178
Problem solved, many people have the same issue, it was just needed to add "www" to link

[2019-11-01 16:26] MimaIsAwesome commented on #178
Hello again, is there any chance i can private message you? I read that this feature is no longer
available on git??

[2019-11-01 21:49] aminecmi commented on #178
Hi,

What feature isn't available on git?
What would you want to talk about?

Le ven. 1 nov. 2019 à 17:26, MimaIsAwesome <notifications@github.com> a
écrit :

[2019-11-02 16:57] #281 closed

[2019-12-08 11:42] StyXman opened #292 "Question: how does needConfigmation() work?"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

I'm a developer with not much free time (two kids are tiring). I use this app everyday, and it happened to me twice already that all posts a

[2019-12-08 11:50] aminecmi commented on #292
Hi,

First or all, thanks for using the app 😀.

The "bug" you're describing never happened to me, and seems really strange.

`needsConfirmation` will show a dialog. If the the confirm button is pressed, all articles will be marked as read. If not, the nothing will happen.

If you're able to reproduce, please let me know.

[2019-12-08 13:30] StyXman commented on #292
I just did. No dialog. How can I help you? I have almost no Android experience.

[2019-12-08 13:45] aminecmi commented on #292
Can you maybe give me your exact Android version? I'll try to reproduce.

Can you please also check the version number of the app ?

[2019-12-08 21:24] StyXman commented on #292
On Sun, Dec 08, 2019 at 05:45:34AM -0800, Amine Bou wrote:

    Android 7.1.2 SPL Aug01 2019 (FP build number 19.08.1)

    0.8.3 from f-droid.

[2019-12-08 21:51] aminecmi commented on #292
This is not the last version.

The last one is "version 1719051372-github".

I'm not even sure there was a 0.8.3 version.

[2019-12-09 20:08] aminecmi commented on #292
@StyXman any update on the app version?

[2019-12-10 11:16] StyXman commented on #292
I'm sorry, I got the wrong app.

[2019-12-10 11:16] #292 closed

[2019-12-10 11:17] aminecmi commented on #292
@StyXman is it a selfoss reader too?

[2019-12-10 11:48] StyXman commented on #292
yeap, but I can't find it in f-droid anymore. Maybe I should try this one :)

[2019-12-10 11:49] aminecmi commented on #292
Feel free to do so!

[2019-12-10 11:58] StyXman commented on #292
BTW, the dialog is right there :)

[2020-01-27 20:57] TobiasDev opened #293 "Feature Request: Change dark gray text background to the same gray"
I'm using this app with my Selfoss instance and I really love it! The only small UI thing that bothers me is the darker gray background since the text has no whitespace at all inside of it. If possible I would love to see this background in the same gray color (as the one around it) or maybe making it a user setting like the other colors. :)

I've added a screenshot to show where I mean.

![Screen

[2020-01-27 21:02] aminecmi commented on #293
Hello,

Thanks for the feature request.

If I remember correctly, I did try to use the same color for the content background, but I was having a lot of issues with this.

I'll try to look into it !

[2020-01-27 21:04] aminecmi commented on #285
Chrome isn't the default webview anymore.

I'll close this since it should be fixed with the new webview system.

[2020-01-27 21:04] #285 closed

[2020-01-27 21:09] TobiasDev commented on #293
Sounds awesome! Thanks.

[2020-02-01 13:36] aminecmi commented on #293
@TobiasDev d370ddc4d1a681dfd940bfe941effc6972b49470 should fix your issue !

It should be available via f-droid in a couple of days.

[2020-02-01 13:38] #293 closed

[2020-03-03 12:06] madb1lly opened #294 "[help!] Which URL to use? Or is something else not correct?"
### Prerequisites

* [y] Are you running the latest version?
* [y] Did you check for an existing issue ?
* [y] Are you reporting to the correct repository?
* [y] Did you perform a cursory search?
* [y] Did you read the `CONTRIBUTING` guide ?

### Description

This may not be the place for support questions, but I don't know where else to ask:

I can't login to selfoss on my hosted instance. I'm su

[2020-03-03 17:00] aminecmi commented on #294
Hello @madb1lly ,

If you access your selfoss instance via the url http://domain/selfoss/, the url set in the app should be the same.

Is there any way you could see in the selfoss logs if there is an issue ?

Are you using some kind of HTTP authentication that would block the api call ? BASIC or DIGEST ?

[2020-03-04 21:27] aminecmi opened #295 "Issue with adding sources"
### Prerequisites

* [ ] Are you running the latest version?
* [ ] Did you check for an existing issue ?
* [ ] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

[Description of the bug or feature]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [Wha

[2020-03-05 14:41] madb1lly commented on #294
Hi @aminecmi,

Thanks for your reply. Which logs do you mean? I can't access the system logs if that's what you mean. In default.log the only error messages relate to feeds which can't be accessed or are invalid (from when I originally imported the OPML).

I changed the logging level in config.ini to EMERGENCY but it didn't add anything to the log. Which logging level should I use?

Thanks 🙂

[2020-03-05 15:01] aminecmi commented on #294
@madb1lly I was talking about the default.log file.
Maybe check your Apache logs to see if the call is arriving to your server ?

[2020-04-03 02:10] deathbybandaid opened #296 "Timezone weirdness"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

Time of article entry is incorrect between app and selfoss.
Often time is in the future.

The below screenshots were taken back to back

###

[2020-04-28 12:49] sonicnkt opened #297 "Thumbnails in Articles List"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

I really like selfoss and this opensource reader.
What i would really love to see tho in the future is an option for preview thumbnails in t

[2020-04-28 13:03] aminecmi commented on #297
@sonicnkt this isn't the right repo.

[2020-04-28 13:40] sonicnkt commented on #297
Isn't this the official repo for the android app "Reader for Selfoss" (on F-Droid)? The Screenshot fro mthe other app was only posted as reference and should show how it could be implemented visually.

[2020-04-28 13:53] aminecmi commented on #297
Oh ok @sonicnkt .

Sorry about that. I only read the title and saw the screenshot, and I thought you were talking about the old selfoss app.

Now that I read your issue, I can tell you that I tried to solve this issue "locally", but I didn't find an efficient way to do it.
I think that should be handled on the selfoss webapp side. I created a selfoss spout that find the main image inside the html,

[2020-04-28 13:54] aminecmi commented on #297
![Screenshot_20200428-155200](https://user-images.githubusercontent.com/510304/80495606-6e65f080-8968-11ea-8608-e4fb9fd27d26.jpg)
This is the result

[2020-04-28 14:40] sonicnkt commented on #297
No Problem.
Haha that looks a bit messy :) I also noticed that many embedded rss images are often very low res.  I guess to make it look fine you have to keep those displayed as small as possible.
The display method of the old app might be a better solution for most sources.

This is just me but even good res images this size would be to big in the articles card overview as you could only show 1-2

[2020-04-28 15:01] aminecmi commented on #297
![Screenshot_20200428-170054](https://user-images.githubusercontent.com/510304/80503303-f69cc380-8971-11ea-9635-cd170353e05a.jpg)

[2020-04-28 15:03] aminecmi commented on #297
![Screenshot_20200428-170308](https://user-images.githubusercontent.com/510304/80503447-28158f00-8972-11ea-8d01-0b9a7c6d4cd0.jpg)

[2020-04-28 15:17] sonicnkt commented on #297
Wow impressed with the fast test builds 😃

The first images in the list view screenshot you posted are a bit smaller and are not scaled up which also moves the text a bit to the left. Is it complicated to scale every image to the same size with fixed ration (1x1) maybe cropping  images to 1x1 would problably look even better but it dont know how complicated that would be to implement.

Card view l

[2020-04-28 15:25] aminecmi commented on #297
![Screenshot_20200428-172454](https://user-images.githubusercontent.com/510304/80505876-344f1b80-8975-11ea-8a6c-db7e2b927338.jpg)

[2020-04-28 15:29] aminecmi commented on #297
So, in the end, the enhancements you would like would be better handling of images ?

[2020-04-28 16:55] sonicnkt commented on #297
ah sorry i havent checked the app on my tablet yet as i am just in the process of moving everything over to selfoss.

Yes feature request would be implemetation of thumbnails in List and Card view.
Your card view screenshots look very good allready, nothing to add here.
For list view i would love to to see the  feed icon added (like in the mockup i posted) and having all the images uniformly scale

[2020-04-28 19:51] aminecmi commented on #297
I'll try to handle picture a little bette, then.

Thanks for wanting to help. I just set up a way for people to donate.

The link is now on the project page.

[2020-04-29 16:49] sonicnkt commented on #297
Got some time today and got a bit more familiar with selfoss (server) and found out that thumbnails are not created for normal rss feads. And i understand now why this would require a serverside change as well. Since normal images inside the articles are not stored on the server it would not be possible to have them in the article lists/cards.
But the proposed changes are still valid  tho, have to

[2020-04-29 16:56] aminecmi commented on #297
I could share my spout if you'd like !

And yeah, I could add the column number thing. It was an option before, but I don't know why I removed it.

And again, thanks for the croissants !

[2020-04-29 17:00] sonicnkt commented on #297
i would love to try the spout, is it for normal rrs only or also for the fulltext scraper?
Does it need a specific version? im currently running a 2.19-snapshot that is a few month old as i could not get the latest one working at all.

[2020-04-29 17:09] aminecmi commented on #297
It's just a simple thing that does everythings as the "RSS Feed" but fetches the image. I'm using the same version I think, so it should work.

[code]

[2020-04-29 19:41] sonicnkt commented on #297
Thanks, it seems tho that i had this allready in my spouts directory. And it gives me the desired result.
Wondering now how i could add this to the fulltext-rss spout, but my php skills are almost nonexistent 😄

btw, i had the same problem with some thumbnails in list view not scaling correctly like in your screenshot. This seems to be some kind of rendering bug. Because when i turn off the screen

[2020-04-30 12:06] sonicnkt commented on #297
after using your app now a bit longer i found a few more ui issues, if it ok i will create a new clean issues in github with the things i noticed . This on is getting a bit off topic and crowded.

[2020-04-30 12:08] aminecmi commented on #297
No problem. If it's okay with you, I'll close this one.

And maybe open one issue for each issue, it would be easier to find for other people.

[2020-04-30 12:13] sonicnkt commented on #297
Ok that make sense.

[2020-04-30 12:19] #297 closed

[2020-04-30 13:16] sonicnkt opened #298 "Issue with Thumbnail rendering in List View"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

Often thumbnails seem to be rendered as feed icons in list view. This sometimes can be fixed with scrolling the list up and down or turning

[2020-04-30 13:57] sonicnkt opened #299 "Issue with feed icons in menu"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

There is a issue with feed icons not being displayed in the menu when the Setting **General -> Account Header** is disabled. I have attached

[2020-04-30 14:01] aminecmi commented on #299
That's a super weird issue.

There isn't any switch to hide or display the icons...

I did try on my phone, and they are always shown.

I'll have to try and reproduce this.

[2020-04-30 14:12] sonicnkt commented on #299
it is a bit weired, yesterday i had one feed that always displayed its icon regardless of the settings but since i removed it i can't reproduce this.

[2020-05-01 12:39] sonicnkt commented on #299
Here is a small GIF that shows the behavior on all my devices, maybe it helps:
![2020 05 01 14 23 11 Trim-1](https://user-images.githubusercontent.com/5454622/80805874-71a3eb00-8bb9-11ea-93ae-982d952c78be.gif)

[2020-05-02 17:51] aminecmi commented on #294
Closing this until more details.

[2020-05-02 17:51] #294 closed

[2020-05-02 17:55] aminecmi commented on #295
Duplicate of #236

[2020-05-02 17:55] #295 closed

[2020-05-04 09:26] madb1lly commented on #294
Hi @aminecmi,
Sorry for not getting back to you. I discovered that the hosting service I was using was blocking this because it's only intended for hosting basic web pages, not services of any kind.
Cheers 🙂

[2020-05-04 15:40] sonicnkt opened #300 "Ampersand & not displayed in heading of builtin article viewer"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

Ampersand Symbol (&) gets displayed as escaped version in the Heading with the internal article viewer but gets displayed correctly in the l

[2020-05-06 08:20] sonicnkt opened #301 "UI Improvement: ListView SwipeMenu"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

The Reader allready supports the swipe right gesture to mark items as read. I was thinking it would be cool to improve this even more.  My i

[2020-05-16 08:33] aminecmi commented on #301
Hello @sonicnkt and sorry for the late reply,

There is currently a bar that is displayed if you press or long press the item (there is an option to choose the action).

Moreover, the "swipe menu" element you are proposing does not match any element of the material design specification.

If the action bar is not what you are looking fore, I could use something like [this](https://material.io/compo

[2020-05-16 08:36] aminecmi commented on #300
Thanks, I'll look into this !

[2020-05-16 08:40] aminecmi commented on #299
Hi and sorry for the late reply,

I'm not sure it's a server issue. I will have to test it, but I think it has something to do with the fact that you have too few tags, and you don't have to scroll to see the sources part.

I'll look into this.

[2020-05-16 08:57] sonicnkt commented on #301
Hi no problem.
Pressing  / Longpressing an item does not show a bar on the latest fdroid build. Ateleast not on my devices (tried list and card view) so i dont know what this looks like.

I am not commited to the swipe menu if this breaks the design specifications i just saw this in another app and thought it would be a good idea.
The bottom sheet method looks good as well.

btw, is the mark every

[2020-05-16 08:58] sonicnkt commented on #299
Ah this sounds like it could be the issue, i just noticed after my setup grew that the items on the bottom show up with icon.

[2020-05-16 09:10] aminecmi commented on #301
Well, that's awkward. I may have removed the action bar.

I'll use the bottom sheet to replace it, then.

Yep, it should be possible, but maybe a little too complicated. Would something like "hide on scroll" would fit what you want ?

The old one had: share, favorite, open in browser. Should I add something else ?

[2020-05-16 09:11] aminecmi commented on #299
Well, that's it, then :)

I'll look into this.

[2020-05-16 09:20] sonicnkt commented on #301
ah ok, that explains this... 😄

Those options should be enough!

hide on scroll would be lost after an app restart by the sound of it and not synced to the server.
So not really a solution for my case but i can understand that its complicated to implement. I proposed this for selfoss server as well. If there is an official method to mark multiple items as read through the api it might be easier to

[2020-05-16 09:23] aminecmi commented on #301
No it won't ! That's the point. Each time an element is out of the screen, I call the server to mark the item as read.

[2020-05-16 09:27] sonicnkt commented on #301
ah ok i think i got it, so scrolling down would mark everything as read that is not visible anymore?
Would it be possible to create a kind of buffer for this that you could recover the last 5 items that are of screen for example if you scrolled a bit to fast?

[2020-05-16 09:29] aminecmi commented on #301
What do you mean "recover" ? Like have some timeout that mark the items as read only after X seconds, so you could scroll back to them ?

[2020-05-16 09:37] sonicnkt commented on #301
i thougt more about a kind of buffer that the only the 6. item that went ofscreen would be mark as read so that you could scroll up again 5 items.

But a timeout would be even better if this is possible i guess.

[2020-05-16 09:44] aminecmi commented on #301
Ok ! I'll look into any one of those solutions. I'll create a new issue for this since it's not an action for the list view anymore.

[2020-05-16 09:45] aminecmi opened #302 "Hide on read"
See https://github.com/aminecmi/ReaderforSelfoss/issues/301#issuecomment-629614371 (and the next comments) for more details.

[2020-05-16 09:45] sonicnkt commented on #301
Thanks you very much for looking into this :)

[2020-06-30 10:53] StyXman commented on #286
I started getting the same on v1720020321 from F-Droid for some weeks now. I don't think it was right after the latest update (I don have the date sorry). Should I reinstall too? I see nothing very damning in `logcat`'s output. This is Android 7.1.2 on FairPhone2.

[2020-06-30 11:50] aminecmi commented on #286
Hi @StyXman

That's super weird.

Does this happen every time ? Did you change some setting before this ?

This shouldn't be the same issue, but still.

[2020-06-30 12:07] StyXman commented on #286
Every time on the phone. I just fresh installed it on a tablet and it works.

I can't remember, but I would say no.

[2020-06-30 12:11] aminecmi commented on #286
@StyXman So, it worked before, right ? Before any update ?

If you don't see anything from the logs, maybe try reinstalling.

[2020-06-30 12:30] StyXman commented on #286
I has been working since... I don't know. Can I ask android when I first installed something? `logcat` shows 3 lines `IInputConnectorWrapper: finishComposingText on inactive InputConnection`, then `reportFullscreesnMode on inexistant InputConnection`, then the other message again. Does that help?

[2020-06-30 12:42] aminecmi commented on #286
@StyXman Not really...

And I don't think it would show anything. I'm not sure.

Can you try reinstalling and let me know if that solved the issue ?

[2020-06-30 12:52] StyXman commented on #286
Yeah, that worked :-S

[2020-06-30 13:00] aminecmi commented on #286
Great ! If it does happen, don't hesitate to open a new issue.

[2020-07-01 20:20] StyXman opened #303 "Article View bottom bar"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

You might close this as Won't Do, but I had to ask. I very, very often use the button 'Mark as new' and 'Open in browser'. I sometimes use t

[2020-07-02 19:40] aminecmi commented on #303
Hi,

Thanks for the request.

I’ll look into this.

[2020-07-14 09:06] davidoskky opened #305 "Do not save read articles"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

I really like the possibility to save articles for offline reading.
It is in fact very useful to me as often I do not have internet connecti

[2020-07-14 09:38] aminecmi commented on #305
Hello @davidoskky ,

If I remember correctly, if you enable background sync, all the unread articles will be saved for offline reading, and every favourited one.

There isn’t any count limit for saved articles, **BUT**, there might be something to do with the number of articles you load from the selfoss instance. I can take a look at this when I can.

Can you maybe see what’s the number you set, a

[2020-07-14 10:22] davidoskky commented on #305
In my settings background sync is enabled. I have the number of loaded articles from selfoss set to 200.
Right now I have saved offline:
- 5 unread articles
- 45 read articles
- 0 favorites

It adds up to 50 total articles, this makes me think of a hard limit in the number of available downloaded articles. It could otherwise be set to 1/4 of the 200 loaded articles.

[2020-07-14 10:27] aminecmi commented on #305
I look into this, then.

Thanks for the report.

[2020-07-14 10:46] aminecmi commented on #305
@davidoskky I just read the code, and what I do is get all the items, without specifying a count, and store them.

The number of articles may be set with the `items_perpage` [parameter](https://selfoss.aditu.de/#configuration_params) in your selfoss instance.

I will change this, and save all the favourites ones, and the new ones only.

[2020-07-14 13:28] davidoskky commented on #305
I can confirm this: my items_perpage parameter was in fact set at 50.
I set it at 100 and the articles saved offline are now 100; this still does not solve the issue as 95 are read and only 5 unread.
I'd be very thankful if you could be able to solve the issue saving all the unread ones!

[2020-07-14 14:13] aminecmi commented on #305
Yep, I’ll think of a way to handle this.

[2020-09-08 15:17] white44water opened #306 "Wrong time display + Cannot display the preview photo"
))) Prerequisites

* [yes ] Are you running the latest version?
* [yes ] Did you check for an existing issue ?
* [yes ] Are you reporting to the correct repository?
* [yes ] Did you perform a cursory search?
* [yes ] Did you read the `CONTRIBUTING` guide ?

### Description

**1. wrong time display , it should be 1xmins ago, and it will show 8 hr ago (red line) (seems 8 hr slower). Seem the app pre

[2020-09-11 15:21] #306 closed

[2020-10-03 06:01] namanrana16 commented on #300
I would like to work on it, can you assign it to me?

[2020-10-03 06:03] aminecmi commented on #300
@namanrana16 it’s all yours.

[2020-10-03 07:31] aminecmi opened #307 "No spam PRs for hacktoberfest"
Please read [this](https://hacktoberfest.digitalocean.com/hacktoberfest-update)

If you want to contribute, please do, and thank you, but I won’t accept spam PRs for Hacktoberfest.

[2020-10-03 19:46] DroidSU commented on #277
Hello is this issue resolved? Would like to work on it..

[2020-10-03 20:13] aminecmi commented on #277
@DroidSU nope. Go ahead and have fun.

[2020-10-25 17:46] jbfavre opened #308 "Timeout marking articles as read with Offline mode"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

After enabling offline mode and loading articles, marking them as read turns into timeout with error message `Impossible de marquer l'articl

[2020-11-12 08:11] StyXman commented on #303
In fact, I was thinking about what is the expected usage pattern. As I see it, there are 3 ways to read the articles:

1. Starting from the list, click on each article to read beyond the title, then go back to the list.
1. Starting from the list, click the 'View in browser' button, then go back to the list by either pressing Android's back button or just switching back to the app.
1. Clicking in o

[2020-11-12 08:35] aminecmi commented on #303
Hi @StyXman

For option 1, the list shouldn't reload, so this may be a bug.

Option 2 is not the intended usage of the app, as it's loads the last articles on resuming.

What I do is that I only open the article viewer if I see a title that interest me, else, I'll swipe the cards to mark items as read.

Does that answer your questions ?

[2020-11-12 10:58] StyXman commented on #303
How can we debug this? Should I open a new issue?

[2020-11-12 10:59] StyXman commented on #303
This is how I would do it. Have you tried swiping on a tablet? sometime it's tricky. Do you implement the swiping gesture, or is it something to blame on Android?

Yes, thank you.

[2020-11-12 11:12] aminecmi commented on #303
Yes please.

I did and it works for me. Is there any issue with it on your tablet ?

I only use an existing function that handles this [see here](https://github.com/aminecmi/ReaderforSelfoss/blob/0046a8a477c133a8b6a361a82a481eaacc49d3e9/app/src/main/java/apps/amine/bou/readerforselfoss/HomeActivity.kt#L228).

[2020-11-14 13:00] aminecmi commented on #308
Hi @jbfavre and sorry for the delay.

I couldn't recreate your issue, but it seems that forcing offline mode when launching the app, and trying to read articles does indeed try to make an api call.

Do you have a video of the issue, so I can try to recreate the issue on my end ?

Thanks for the report.

[2020-11-14 13:07] #307 closed

[2020-11-14 13:08] aminecmi commented on #300
@namanrana16 are you still working on this ?

[2020-11-14 13:09] aminecmi commented on #277
@DroidSU still working on the issue ?

[2020-11-15 08:23] jbfavre commented on #308
Hello @aminecmi
Thanks for answering and no problem for the delay.

Some stats about my SelfOSS instances to give you more context:
* 425 sources
* 433019 items (16015 starred)
* Running on a quite low server (only 1G of RAM)

Now, about hte issue:

1. Api call with (or despite of) offline mode enabled is the expected behaviour as far as I know.
Offline mode has been enabled in https://github.com/

[2020-11-15 08:54] aminecmi commented on #308
Not really. I’m not using the selfoss sync and offline mode, but a homemade offline mode that stores the actions done and execute them when the app is not in offline mode. The manual triggering of the offline mode may be the issue here.

This may be a configuration thing server side. Could you check if you have the value of 200 actually set on the app ?

I can check but if I remember correctly, th

[2020-11-15 10:41] jbfavre commented on #308
I know you don't use sync API. But, my understanding was that your custom offline mode only store articles content, not actions on them.
Besides, I have enabled offline mode at first configuration and never changed it.

Yes I do. The point is, the request made by the app does not specify item number, therefore using server side default which is 100 in my case.
You should pass `items` param when re

[2020-11-15 10:41] #308 closed

[2020-11-15 10:47] jbfavre opened #309 "Make source and tag list loading configurable"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

When refreshing article list, the app also refreshes sources and tags.
Problem is, calling `/sources/list` performs a quite heavy and non op

[2020-12-02 16:53] aminecmi commented on #287
@Offerel why did you close this ?

[2020-12-02 16:58] Offerel commented on #287
I changed to a other phone and didn't use the app. Other OS

[2020-12-07 13:43] davidoskky opened #310 "App crashing after login"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

Starting the application after the login I get an error message which closes the application.
It is impossible to read the articles as the a

[2020-12-07 14:49] #310 closed

[2020-12-07 21:22] #300 closed

[2020-12-08 14:36] #290 closed

[2020-12-08 19:13] #287 closed

[2020-12-13 21:23] michix opened #319 "Garbled output when scrolling"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

It regularly happens that scrolling through a news item the output is garbled. Sometimes it 8s even garbled immediately. The problem is then

[2020-12-13 21:45] aminecmi commented on #319
This seems to be a duplicate of #285

Could you maybe check if the info in the original case helps you ?

[2020-12-14 06:57] michix commented on #319
Many thanks for the quick reply. In fact, it looks like that this issue is a duplicate to #285. However, I'm having WebView 87 installed and the problem still persists. I understood that the version of WebView was the solution in #285.

[2020-12-14 07:09] aminecmi commented on #319
Did you try to check if the webview used is the chrome one ? This may be the issue.

I can’t really help with this, as it is a Android issue, and I don’t have any control on this. All I could do is open an issue on the Android tracker, but not sure that would be fixed anytime soon.

If you have the up to date system webview, and that’s what is selected in your settings, you should disable the arti

[2020-12-14 07:40] michaelmejaeger commented on #319
In the developer options I see that only WebView is available as the WebView implementation. I understand that you cannot do anything about it. Since it seems that I am the only one having this problem, I guess you should not bother. It's probably a Huawei thing... Anyway, many thanks for your support and your great work!

[2020-12-14 08:27] aminecmi commented on #319
@michix just to let you know. You seem to be using an old version of my app.

Could you try updating it please ?

You'll find the updated version on fdroid, and it should be 1720020321-github.

[2020-12-14 08:34] michix commented on #319
Aaarrgh, sorry, it seems like I had the old version from play store installed. Many thanks for this hint! I guess,the problem is solved now, I will check the next days.

Many, many thanks!

[2020-12-14 08:36] aminecmi commented on #319
No problem.

Tell me if the issue is still present for you on the newer version.

I opened an issue on the google tracker [here](https://issuetracker.google.com/issues/175488699).

[2020-12-15 18:23] michix commented on #319
The issue is solved with the newest version from fdroid. Many thanks!

[2020-12-15 18:23] #319 closed

[2020-12-22 19:07] aminecmi commented on #178
Closed in #315

[2020-12-22 19:07] #178 closed

[2020-12-23 08:36] aminecmi commented on #298
Should be fixed with #314

[2020-12-23 08:36] #298 closed

[2021-01-01 08:52] herrxyz opened #320 "app crashes after selfoss-update to selfoss-2.19-e6e1ba7 (current dev)"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

app crashes 1 or 2 sec after loading new content, before you are able to scroll in app or open an entry
as it was working with older selfoss

[2021-01-01 09:21] herrxyz commented on #320
selfoss instance with logging "debug" does not show any errors, only several successful logins with username and password

[2021-01-01 09:28] aminecmi commented on #320
@herrxyz thanks for the report.

Did you try the new version available on f-droid ?

You can even download the apk from [here](https://f-droid.org/en/packages/apps.amine.bou.readerforselfoss/).

If that does not fix the issue, I'll have to check this.

[2021-01-01 20:52] herrxyz commented on #320
thank you very much for your fast reply
shame on me, didn't see the new version, its working like a charm now
unfortunately, my f-droid-app didn't update repos, maybe due to battery savings, so I thought I have the most recent version (checked it before reporting, but only in app with outdated sources :( )

[2021-01-01 20:52] #320 closed

[2021-01-05 16:41] mondlicht-und-sterne opened #321 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want. https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/ https://gitlab.com/snippets/1895688 That was simply information about what is still possible. You would then only have to enter the screenshots in fastlane.

[2021-01-06 17:22] isopino opened #322 "buggy last version"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description
Sorry for not beeing more specific in the title but with the latest version from F-Droid I experience several bugs. I hope it's ok to just op

[2021-01-06 17:42] aminecmi commented on #322
Hello, thanks for the report.

Are you sure that the first issue is related to the update ? I can’t see why this isn’t working anymore.

I’ll look into the remaining issues.

[2021-01-06 17:44] aminecmi opened #323 "When using the dark theme the font in the article overview is now black instead of white (black font on dark grey background)."
See #322

[2021-01-06 17:45] isopino commented on #322
Pretty sure, as the behaviour with the black font started when I opened the app after I updated some days ago.

[2021-01-06 17:45] aminecmi opened #324 "The notification bar icon as well as the notification itself dont disappear anymore. Only way to close them is to force the app to stop via android app details. Works only temporarily though."
See #322

May be related to images cashing.

[2021-01-06 17:47] aminecmi commented on #322
Could you please try the previous version and check if the issue is indeed related to the update?

[2021-01-06 18:05] isopino commented on #322
Works perfectly fine with the previous version...

[2021-01-06 18:12] aminecmi commented on #322
Thanks for getting back to me. I’ll look into it .

[2021-01-06 22:43] davidoskky commented on #324
This is most probably related to image caching, but I cannot reproduce the issue.
It may be that the application is trying to cache more images than allowed by the cache maximum dimension

[2021-01-06 22:49] davidoskky opened #325 "Ampersand incorrectly displayed in source title"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

If a & character is present in the source title, it is incorrectly displayed as `&amp;`
I'll look into this in the next days.

### Screensho

[2021-01-07 08:11] isopino commented on #322
Tried the update on a Samsung Galaxy Tab 2 running Android 7: same problem regarding the font color. Had not enough time to check for the other two issues though.

[2021-01-07 09:33] aminecmi commented on #322
You meant the list view, right ? I can't reproduce the issue on the article viewer, but the text in the list view is indead black on grey.

[2021-01-07 18:40] davidoskky commented on #322
@isopino regarding problem 3: how many unread articles and total articles do you have?
Could you please check how much space is the cache taking? You can find this under the app information in the android settings.

[2021-01-07 20:22] #325 closed

[2021-01-08 06:49] isopino commented on #322
Cache is approximately 10 MB. Don't know how many articles there are in total...700 - 1000 maybe.

BTW... Clearing the cache didn't help 🤷‍♂️

[2021-01-08 10:36] davidoskky commented on #324
I'll be working on this: I will let it sync only images from unread articles and provide a hard limit to the number of images to sync.

BTW... Clearing the cache didn't help man_shrugging

This however makes me think that the cache dimension is not the only problem, as I would otherwise expect 200 MB cache.

[2021-01-08 10:53] aminecmi commented on #324
@davidoskky I'll try to provide a selfoss instance for testing purposes with a lot of unread articles and images.

[2021-01-09 10:42] aminecmi commented on #324
I did get the app to crash, just by running it. The notification did stay on.
[code]

[2021-01-09 11:32] aminecmi commented on #323
I did try to downgrade a version, and the issue is still present.

I had to update some libraries. Maybe the issue comes from this ?

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/510304/104090389-b7e83880-5276-11eb-91ee-ed5602c7ad52.png">

[2021-01-09 14:05] #323 closed

[2021-01-09 14:07] aminecmi commented on #322
@isopino I'll close this issue.

The crashes will be fixed by #324. The theme issue is fixed.

[2021-01-09 14:37] davidoskky commented on #324
Could you give me the link you use to access the feed of linuxfr? I cannot find it on their website...

[2021-01-09 14:39] aminecmi commented on #324
@davidoskky this should be the rss source https://www.journalduhacker.net/rss

[2021-01-10 04:08] #324 closed

[2021-01-10 11:13] #322 closed

[2021-01-10 11:15] aminecmi commented on #322
@isopino all the issues are now fixed. A new version (1721010101) is ready and waiting fdroid servers to be built.

Thanks for the report.

[2021-01-10 14:24] davidoskky opened #328 "Background sync related crash"
### Description

I found another bug that causes the application to crash while caching images in background.
This is the feed https://uxmovement.com/feed

The crash seems to occur when Glide tries to load an image that isn't hosted on the website anymore.

[code]

[2021-01-10 15:07] aminecmi commented on #328
Thanks ! I think I found a solution.

[2021-01-10 16:19] aminecmi commented on #328
[code]
 I tried this, but it does not work.

 The issue here is the `.get()`, but I don't know how to handle this.

@davidoskky do you have an idea ?

[2021-01-10 18:48] isopino commented on #322
Thanks for your support and this great app :)

[2021-01-10 20:15] aminecmi commented on #328
Fixed in #329

[2021-01-10 20:15] #328 closed

[2021-01-10 20:21] aminecmi commented on #322
@isopino no problem at all.

There is a newer version. It's the 1721010102 one, that should fixed everything.

[2021-01-10 20:40] #321 closed

[2021-03-05 10:07] davidoskky commented on #309
I will be working on this, do you believe an update sources button could be useful? I may add that to the side drawer so that one could manually update sources after he added a new one.

[2021-03-05 10:21] aminecmi commented on #309
@davidoskky they are loaded pretty much every time you open the app.

[2021-03-05 10:22] davidoskky commented on #309
Alright, then there's no need for that!

[2021-03-05 10:27] aminecmi commented on #309
@davidoskky having this button would mean, when some option is selected, loading the sources and tags once, and caching them. The button would refresh the cash.

@jbfavre would this behavior work for you ?

[2021-03-11 14:12] davidoskky opened #334 "Do not fetch articles every time the home is opened"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

Right now if you open an article and then go back to the home, all articles are fetched.
This is annoying as I open one article, read it go

[2021-03-11 14:15] aminecmi commented on #334
This is the same as https://github.com/aminecmi/ReaderforSelfoss/issues/277

[2021-03-11 14:40] davidoskky commented on #334
Oh, sorry! I thought that was specifically about the share button; I will close this issue then.
Today I'll take a look to see what can be done to prevent this behaviour.

[2021-03-11 14:40] #334 closed

[2021-03-11 14:43] davidoskky commented on #305
This was solved in #331 at least for how I interpret it.
I will close the issue.

[2021-03-11 14:43] #305 closed

[2021-03-16 22:17] GutHib opened #337 "Broken compatibility with selfoss 2.19?"
Hi,

I updated my server to run php 8, which broke selfoss 2.18. After updating to the latest selfoss 2.19 (nightly, no stable release yet), selfoss is working again, but the reader says it can't retrieve new articles.

Seems that they changed some stuff around in selfoss 2.19 (different folder structure, among other things). Is this on your radar in any way, or should the reader work with selfoss

[2021-03-17 06:49] davidoskky commented on #337
Hello!
I am running it with selfoss 2.19, though not the latest release and with php 7.
As far as I know the only breaking api change was in the sources and therefore you cannot add new sources from the app, but everything else should be working.
I will try upgrading to the latest version of selfoss and see what happens, though my server is running an old distribution and I cannot upgrade to php 8

[2021-03-17 07:04] aminecmi commented on #337
Hi @GutHib

Please follow the issue template with all the needed details.

Also, check your selfoss instance logs to see if it's an issue with selfoss or the app.

Thanks.

[2021-03-17 14:35] GutHib commented on #337
@davidoskky: What versions of 2.19 and ReaderforSelfoss are you using?

ReaderforSelfoss: 1721010103
Selfoss: 2.19-9af53e9

Upgraded from Selfoss 2.18 to 2.19, following the Selfoss upgrade instructions.
Following the update, ReaderforSelfoss on a rooted Samsung S5 running Android LineageOS reports it can't retrieve new articles. ReaderforSelfoss shows sources, however (so it's clearly logged in).

[2021-03-17 15:40] davidoskky opened #339 "Application unusable on phones with api 16"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

While testing for #338 I tried running the app in a simulated image running api 16, which I believe is the oldest one supported by this app.

[2021-03-17 16:52] aminecmi commented on #337
Thanks for the details.

I'll look into this.

[2021-03-17 17:25] davidoskky commented on #337
I believe this change in the date format may be the cause of the problem: https://github.com/fossar/selfoss/issues/1246
@GutHib you may try installing the release before that commit, which you can find here: https://bintray.com/fossar/selfoss/selfoss-git/2.19-515cc5b#files

I have been running version c87e14aaba42abe281ca3c859a0006fb292ff22c until now and it works fine.
Unfortunately I cannot test

[2021-03-17 17:50] GutHib commented on #337
@davidoskky: Yup, that fixed it just fine - thank you very much.

Note however that the problem went away by copying the /src/daos folder from the older commit to my current installation - so it might be a different problem after all. If there's any interest, I can track this down further.

[2021-03-22 18:01] aminecmi commented on #337
This should be fixed.

I’ll tag the version and it’ll be available on fdroid soon.

[2021-03-22 18:01] #337 closed

[2021-03-22 19:13] aminecmi commented on #309
Should be available in version `1721030811` when it's available on fdroid.

[2021-03-22 19:13] #309 closed

[2021-03-22 20:08] #277 closed

[2021-04-02 15:57] davidoskky commented on #339
This is a problem with `Patterns.WEB_URL`, it doesn't match the Top Level Domains that have been recently added.
I guess this could be fixed changing how that check works, but I'm not sure if that's worth it...

[2021-04-02 16:08] aminecmi commented on #339
This is super old.

No one ever reported it.

We could change the minSdk, but that should be it.

[2021-04-06 19:28] michix opened #341 "Read items are not hidden anymore since the last update"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

Since the last update, items are still shown after I read them and then go back to the overview list.

### Steps to Reproduce

1. Configure

[2021-04-07 08:40] davidoskky commented on #341
I can reproduce this, I believe I introduced this bug in #335.
I'll try to fix it in the next few days.

[2021-10-05 08:18] davidoskky opened #347 "Tags and sources remain highlighted even after filters are cancelled"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

The highlighting on tags and sources stays active even after the filters are cancelled.
Opening an article and coming back to the home, the

[2021-10-05 18:12] aminecmi commented on #347
@davidoskky thanks for the report.

Is this an UI issue, or the tags are still filtering the content ?

[2021-10-06 07:34] davidoskky commented on #347
This is just an UI issue, the filtering works correctly.
When you clear the filters, all articles are shown.

[2021-10-08 09:17] davidoskky opened #354 "Downgrading to version 2.18 requires clearing the cache"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

Downgrading from Selfoss 2.19 to Selfoss 2.18 requires clearing the cache of the application for everything to work correctly.
Sources canno

[2021-10-14 09:45] davidoskky opened #355 "Tags and sources filters are not highlighted together"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

From the side drawer you can filter both according to tag and source.
You can select one tag and one source.

Only the last filter you selec

[2021-10-15 09:27] davidoskky opened #360 "Sources with long title cannot be removed"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

If a source has a title which is too long to be fully displayed in the sources page, the button to remove it disappears.

### Screenshots
![

[2021-10-15 18:14] aminecmi commented on #347
closed in #359

[2021-10-29 19:06] aminecmi opened #376 "App stoped working with older Android versions"
Just after the login screen, the app closes with the error:

[code]

This may be due to version updates.

[2021-11-15 15:44] davidoskky commented on #376
This is due to the dependencies updates.
okhttp3 dropped support of apis lower than 21.

I see three options:
- Downgrade it to version 3.12.13
- Drop support of older android versions, this would be android 4 and previous
- Remove the library from the application, if that's possible

Downgrading the library doesn't immediately solve the issue for some reason, thus some further modifications may b

[2021-11-15 19:19] aminecmi commented on #376
@davidoskky I think that we can change the minSdk to 21.

okhttp is needed for retrofit calls, so we can't change it easilly.

Changing the minSdk would fix the issue.

[2021-11-15 19:19] aminecmi commented on #376
By doing this, we would close #339 too.

[2021-11-15 20:16] davidoskky opened #379 "Descending sorting"
### Description

It would be nice to have an option to sort the articles from the oldest to the newest.
This is not my use case, but I can imagine someone with a lot of articles which should be read in publication order.
For example a story that is published in different episodes, or a news website.
Sorting from the oldest to the newest would save time and make the experience more straightforward

[2021-11-15 20:20] aminecmi commented on #379
I think that this is a selfoss configuration.

I’ll have to check if this can be changed via the api calls.

[2021-11-15 20:21] #376 closed

[2021-11-15 20:22] #339 closed

[2021-11-21 22:47] davidoskky commented on #379
It is right, this behavior is included in the selfoss settings.
I guess it would be redundant to add this feature to the app then.

[2021-11-21 22:47] #379 closed

[2021-11-22 06:07] #354 closed

[2021-12-10 09:31] davidoskky commented on #296
This is solved for selfoss 2.19
It cannot be solved in selfoss 2.18 as the timezone of the server is not provided by the api.

[2021-12-15 14:00] davidoskky opened #389 "Close images swiping up or down"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

In the article reader, tapping on a picture opens it in full screen.
To return to the article two actions are possible:
1. Tap the back butt

[2022-01-05 11:33] sonicnkt opened #390 "Read-All button not working"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description
I noticed with the latest versions on fdroid the read-all button on the top doesnt work all the time. For example when i just opened the app

[2022-01-05 11:35] sonicnkt opened #391 "Issues with latest updates and Darkmode"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

Im experiening several issues with the latest app updates and the Darkmode.

With the newest build (1721102991-github) pop ups are not displ

[2022-01-05 12:42] davidoskky commented on #391
I do see the first issue, however I cannot reproduce the crash when opening the settings.
I'll be looking into this to find a solution.

[2022-01-05 12:45] sonicnkt commented on #391
weird, i allready tried deleting all storage/cache and reinstalling but the crash still happens.
i will try another device to make sure its not my phone.

[2022-01-07 17:16] davidoskky commented on #391
I was able to reproduce the crash with the latest f-droid version.
This appears to already be solved in the latest github version, thus the next release should fix it.

[2022-01-07 17:20] davidoskky opened #394 "Login page in dark mode"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

The login page in dark mode has dark text over dark background

### Steps to Reproduce

1. Login
2. Set dark mode
3. Logout

### Screenshots

[2022-01-07 19:38] aminecmi commented on #394
The login page should always be in light mode.

The logout button should delete all the settings (like the dark/light setting).

[2022-01-07 19:40] aminecmi commented on #391
I'll create a new version now. F-droid server will update the version in a few days tops.

[2022-01-07 19:45] aminecmi commented on #391
I'll close this. @sonicnkt don't hesitate to open a new issue if you see the problem even after the update.

[2022-01-07 19:45] #391 closed

[2022-01-07 19:46] #390 closed

[2022-01-08 15:26] #394 closed

[2022-01-13 14:36] davidoskky opened #396 "Line in the article reader"
### Prerequisites

* [x] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

When reading from the article viewer a vertical white bar can appear to the right of the text and left of the scrollbar.

### Steps to Repro

[2022-01-14 12:24] davidoskky opened #397 "Filter either by source or by tag"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

When filtering, disallow selecting both tag and source and filter only by tag or source.
There is no reason to filter both by tag and source

[2022-01-16 13:12] davidoskky commented on #360
Closed in #383

[2022-01-16 13:12] #360 closed

[2022-01-22 15:40] davidoskky opened #400 "Scroll using the volume buttons"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description

In the article reader, to scroll through the articles one needs to move the finger up and down the display.
This covers the article and dist

[2022-02-01 23:35] #397 closed

[2022-02-01 23:35] #355 closed

[2022-02-02 13:44] #400 closed

[2022-02-03 16:07] Kanten opened #402 ""Loaded Item Numbers" didn't work anymore"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [ ] Did you perform a cursory search?
* [ ] Did you read the `CONTRIBUTING` guide ?

### Description

After the last update, the Number of Articles to shown in the App can be set to, for example, 25 in the "Loaded Items Number" but this entry

[2022-02-03 16:34] davidoskky commented on #402
I can reproduce this problem, I'll fix it soon.

[2022-05-02 12:44] davidoskky opened #410 "Articles not removed after source removal"
### Prerequisites

* [x] Are you running the latest version?
* [x] Did you check for an existing issue ?
* [x] Are you reporting to the correct repository?
* [x] Did you perform a cursory search?
* [x] Did you read the `CONTRIBUTING` guide ?

### Description
In the sources page you can remove a source.
However, after coming back to the home, the articles from that source are still present since th

[2022-05-15 13:44] davidoskky opened #412 "Mark as read with volume buttons"
### Prerequisites

* [X] Are you running the latest version?
* [X] Did you check for an existing issue ?
* [X] Are you reporting to the correct repository?
* [X] Did you perform a cursory search?
* [X] Did you read the `CONTRIBUTING` guide ?

### Description

Volume up and down physical buttons can be used for scrolling the article.
To prevent any ulterior movements to switch from one article to t

[2022-05-22 11:58] #402 closed

[2022-05-22 12:00] #296 closed

[2022-05-22 12:00] #282 closed

[2022-05-22 12:01] #272 closed

[2022-05-22 12:02] #236 closed